
@charset "UTF-8";
/* CSS Document */

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: YuMincho, "Yu Mincho", 游明朝体, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", 'Noto Serif JP', "ＭＳ 明朝", "MS Mincho";
  scroll-behavior: smooth;
}

/*==============================
共通
==============================*/
.header_images {
  position: relative;
  height: 430px;
  /* background-image: url("./assets/img/test_images/headBack.png"); */
  background-image: url("../img/welcome_lsp.jpg");
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding: 0 20px;
}

.image_screen_small {
  display: none;
}

.companyTable .text_link {
  color: #17181a;
  text-decoration: none;
}

.header_images>h1 {
  position: absolute;
  z-index: 1;
  right: 0;
  left: 0;
  bottom: -50px;
  margin: auto;
  width: calc(100% - 40px);
  max-width: 498px;

}

.image_ceo {
  width: auto;
  height: 80%;
  max-height: 80%;
  /* Ensures the image doesn’t exceed a reasonable size */
  object-fit: cover;
  /* Maintains aspect ratio while covering the container */
  display: block;
  /* Ensures no extra space below the image */
  margin: -4px auto;
  /* Centers the image with some spacing */
  border-radius: 8px;
  /* Optional: Adds slightly rounded corners */
}

.header_images>h1 img {
  width: 100%;
  vertical-align: bottom;
}

.headTitle {
  position: absolute;
  z-index: 1;
  right: 0;
  left: 0;
  bottom: -50px;
  margin: auto;
  width: calc(100% - 60px);
  max-width: 500px;
  padding: 15px 0;
}

.headTitle::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skew(-15deg);
  -o-transform: skew(-15deg);
  -moz-transform: skew(-15deg);
  -webkit-transform: skew(-15deg);
  background-color: #972a47 !important;
  z-index: 0;
}

.headTitle>* {
  position: relative;
  z-index: 2;
}

.headTitle>h1 {
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #fff;
  margin-bottom: 10px;
}

.headTitle>p {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1px;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .header_images {
    height: 270px;
  }
}

/*==============================
メイン
==============================*/

.titleBox {
  display: block;
  text-align: center;
  margin: 0 auto 20px;
}

.image_resposive {
  font-size: 32px;
  line-height: 49px;
  letter-spacing: 6px;
}

.titleBox .image_resposive .context_text {
  max-width: 100%;
  vertical-align: bottom;
  margin-bottom: 5px;
}

.titleBox .test_center_name {
  font-size: 18px;
  letter-spacing: 2px;
  color: #870000;
}

#messageWrap {
  padding: 100px 20px;
}

.messageBox {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.messageBox>div {
  text-align: right;
  margin-right: 20px;
}

.messageBox>div .text_font_title {
  font-family: YuMincho, "Yu Mincho", 游明朝体, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", 'Noto Serif JP', "ＭＳ 明朝", "MS Mincho";
  text-align: left;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 1px;


  margin-bottom: 20px;
}

.messageBox>div p {
  text-align: left;
  text-align: justify;
  margin-bottom: 20px;
  margin: 25px 0px;
}

#companyWrap {
  padding: 0 20px 50px;
}

/* style table */
#footaccessWrap>table {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}


.companyTable {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

}

.companyTable>table th span {
  display: flex;
  /* Use flexbox for alignment */
  justify-content: center;
  /* Horizontally center content */
  align-items: center;
  /* Vertically center content */
  width: 100%;
  height: 100%;
  background-color: #152e4e;
  color: #fff;
  padding: 10px 0;
  box-sizing: border-box;
  /* Include padding in height/width calculations */
  text-align: center;
  /* Center text for fallback support */
}

.companyTable>table {
  width: 48%;
  border-collapse: collapse;
  border-spacing: 0;
}

#footaccessWrap>table td {
  font-size: 16px;
  letter-spacing: 1px;
}

#footaccessWrap>table td:nth-of-type(2n) {
  width: 70%;
}

.companyTable>table th {
  width: 25%;
}

.companyTable>table td {
  width: 75%;
}

.companyTable>table th,
.companyTable>table td {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
  vertical-align: middle;
  font-size: 15px;
  line-height: 20px;
}

.companyTable>table th span {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #972a47 !important;
  color: #fff;
  vertical-align: middle;
  padding: 10px 0;
}

.companyTable>table td {
  padding-left: 10px;
  padding: 10px;
  font-weight: normal;
}

/*==============================
レスポンシブ
==============================*/

@media screen and (max-width: 1400px) {}

@media screen and (max-width: 1300px) {}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 1000px) {

  /*ハンバーガーアイコンをCSSだけで表現*/
  #nav-open span,
  #nav-open span:before,
  #nav-open span:after {
    position: absolute;
    height: 4px;
    /*線の太さ*/
    width: 25px;
    /*長さ*/
    border-radius: 0px;
    background: #152e4e;
    display: block;
    content: '';
    cursor: pointer;
  }

  #nav-open span:before {
    bottom: -10px;
  }

  #nav-open span:after {
    bottom: -20px;
  }

  #footaccessWrap>table td:nth-of-type(2n) {
    width: 70%;
  }

  #footaccessWrap>table {
    max-width: 400px;
  }

  #footaccessWrap>table tr {
    display: flex;
    flex-wrap: wrap;
  }

  #footaccessWrap>table tr {
    display: flex;
    flex-wrap: wrap;
  }

  #footaccessWrap>table td:nth-of-type(2n - 1) {
    width: 30%;
  }

  #footaccessWrap>table td:nth-of-type(2n) {
    width: 70%;
  }

  #footNav>ul li {
    margin-right: 10px;
  }

  #footNav>ul li a {
    margin-right: 10px;
  }
}

@media screen and (max-width: 800px) {
  .messageBox>img {
    width: 50%;
    align-self: flex-start;
    height: 29%;
    max-height: 80%;
  }

  .messageBox>div h4 {
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 26px;
  }

  .messageBox>div>img {
    max-width: 80%;
  }

  .companyTable {
    display: block;
    max-width: 600px;
  }

  .companyTable>table {
    width: 100%;
  }

  .companyTable>table:first-of-type tr:last-of-type th,
  .companyTable>table:first-of-type tr:last-of-type td {
    border-bottom: none;
  }
}

@media screen and (max-width: 768px) {
  .messageBox>img {
    display: none;
    align-self: flex-end;
  }

  .messageBox>.image_screen_small {
    display: block;
    margin: 0 auto;
    width: 50%;
    max-width: 100%;

  }

  .messageBox .image_screen_small {
    display: block;
    margin: 0 auto;
    width: 50%;
    max-width: 100%;
  }

  .headTitle {
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
    bottom: -50px;
    margin: auto;
    width: calc(100% - 60px);
    max-width: 500px;
    padding: 10px 0;
  }


}

@media screen and (max-width: 600px) {
  .messageBox>div h4 {
    font-size: 18px;
    letter-spacing: 1px;
  }

  .image_screen_small {
    display: block;
  }

  /* .messageBox > img{
display: none;
align-self: flex-end;
} */
  #footaccessWrap>table {
    max-width: 300px;
  }

  #footaccessWrap>table tr {
    display: flex;
    flex-wrap: wrap;
  }

  .messageBox>div {
    margin-right: 10px;
  }

  #footaccessWrap>table td:nth-of-type(2n) {
    width: 100%;
    margin-bottom: 10px;
  }

}

@media screen and (max-width: 414px) {

  .messageBox .image_screen_small {
    display: block;
    margin: 0 auto;
    width: 65%;
    max-width: 100%;
}

}
