
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }

input:focus, textarea:focus, keygen:focus, select:focus {
    outline: none;
}
::-moz-placeholder {
    color: #666;
    font-weight: 300;
    opacity: 1;
}
::-webkit-input-placeholder {
    color: #666;
    font-weight: 300;
}

.innerwrap{
    padding-top: 30px;
}

.innerwrap__p{
    padding-top: 15px;
}
.three_btncenter {
color: #fff;
text-decoration: none;
}
.coll2{
    width: 100%;
    padding: 17px 18px;
    /* border-radius: 6px; */
    border: 1px solid #EDEDED;
    background: #EDEDED;
    font-weight: 500;
    font-size: 16px;
    color: #6b7280;
    outline: none;
    resize: none;
}

/* Contact Form Styling */
.container {
    padding: 0 50px 70px;
}
.textcenter {
    text-align: center;
}
.section1 {
    text-align: center;
    display: table;
    width: 100%;
}
.section1 .shtext {
    display: block;
    margin-top: 20px;
}
.section1 .seperator {
    border-bottom:1px solid #a2a2a2;
    width: 35px;
    display: inline-block;
    margin: 20px;
}

.section1 h1 {
    font-size: 40px;
    color: #000;
    font-weight: normal;
}

.section2 {
    width: 1200px;
    margin: 25px auto;
}
.section2 .col2 {
    width: 48.71%;
}
.section2 .col2.first {
    float: left;
}
.section2 .col2.last {
    float: right;
}
.section2 .col2.column2 {
    padding: 0 30px;
}
.section2 span.collig {
    color: #000;
    font-weight: 600;
    margin-right: 10px;
    display: inline-block;
}
.section2 .sec2addr {
    display: block;
    line-height: 26px;
}
.section2 .sec2addr p:first-child {
    margin-bottom: 10px;
}
.section2 .sec2contactform input[type="text"], 
.section2 .sec2contactform input[type="email"],
.section2 .sec2contactform textarea {
    padding: 18px;
    border: 0;
    background: #EDEDED;
    margin: 7px 0;
}
.section2 .sec2contactform textarea {
    width: 100%;
    display: block;
    color: #666;
    resize:none;
}
.section2 .sec2contactform input[type="submit"] {
    padding: 15px 40px;
    color: #fff;
    border: 0;
    background: #972a47;
    font-size: 16px;
    text-transform: uppercase;
    margin: 7px 0;
    cursor: pointer;
}
.section2 .sec2contactform h3 {
    font-weight: normal;
    margin: 20px 0;
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 19px;
}

/* @media querries */

@media only screen and (max-width: 1266px) {
    .section2 {
        width: 100%;
    }
}
@media only screen and (max-width: 1024px){
    .section2 .col2.column2 {
        padding: 0px;
    }
}
@media only screen and (max-width: 960px) {
    .container {
        padding: 0 30px 70px;
    }
    .section2 .col2 {
        width: 100%;
        display: block;
    }
    .section2 .col2.first {
        margin-bottom: 10px;
    }
    .section2 .col2.column2 {
        padding: 0;
    }
    body .sec2map {
        height: 250px !important;
    }
}
@media only screen and (max-width: 768px) {
    .innerwrap{
        padding-top: 9px;
    }        
    .coll2{
        width: 100%;
        padding: 10px 9px;
        border: 1px solid #EDEDED;
        background: #EDEDED;
        font-weight: 500;
        color: #6b7280;
        outline: none;
        resize: none;
    }
    .section2 .sec2addr {
        font-size: 14px;
    }
    .section2 .sec2contactform h3 {
        font-size: 16px;
    }
    .section2 .sec2contactform input[type="text"], .section2 .sec2contactform input[type="email"], .section2 .sec2contactform textarea {
        padding: 10px;
        margin:10px 0;
    }
    .section2 .sec2contactform input[type="submit"] {
        padding: 10px 30px;
        font-size: 14px;
    }
}
@media  (max-width: 415px) {
    .section2 span.collig {
        color: #000;
        font-weight: 600;
        font-size: max(10px, 4.2vw);
        margin-right: 10px;
        display: inline-block;
    }
}
@media  (max-width: 375px) {
    .iconmedia_buton {
        width: 34px;
        padding: 0 3px 0 0;
    }
    .social-media-plaform{
        display: flex;
        padding: 18px 0px 18px;
        gap: 8px;
    }
    .button_plaform_wh {
        display: inline-block;
        padding: 5px 5px !important;
        margin-bottom: 0;
        font-size: 14px !important;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }
}
@media only screen and (max-width: 336px) {
    .section1 h1 {
        font-size: 28px;
    }	
    .iconmedia_buton {
        width: 34px !important;
        padding: 0 3px 0 0 !important;
    }
    .button_plaform_wh {
        display: inline-block;
        padding: 5px 5px !important;
        margin-bottom: 0;
        font-size: 14px !important;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    .social-media-plaform{
        display: flex;
        padding: 18px 0px 18px;
        gap: 8px !important;
    }
}
.social-media-plaform{
    display: flex;
    padding: 18px 0px 18px;
    gap: 15px;
}

.iconmedia_buton{
    width: 38px;
    padding: 0 5px 0 0;
}
.btn_plaform_wh {
    background-color: #38668f;
    border: none;
    color: white;
    padding: 3px 16px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: dashed;
}

/* Darker background on mouse-over */
.btn_plaform_wh:hover {
    background-color: #8a6d3b;
    color: white;
   
}
.three_btncenter:hover {
    text-decoration: none;
    color: white;

}
.three_btncenter-plaform{
    display: flex;
    text-align: center;
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
}
.three_btncenter-plaform:hover{
    display: flex;
    text-align: center;
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
}

.button_plaform_wh {
    display: inline-block;
    padding: 9px 20px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
