@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/doriel');

* {
  font-family: 'Overpass', sans-serif;
}

.container-farm-card {
  width: 100%;
  height: 100%; 
    background: url('../images/sheep-farm-banner.svg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 37px;
 
  }

  .container-background-tour {
      width: 100%;
      height: 100%; /* Full viewport height */
      background:  url(../images/banner-farm-tour.svg) no-repeat center center;
      background-size: cover; /* Ensure full coverage */
      display: flex;
      align-items: center; /* Center content vertically */
      justify-content: center; /* Center content horizontally */
  }
  

.my-farm-container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 10px;
  max-width: 1140px;
}
@media (min-width: 1240px) {
  .my-farm-container {
    min-width: 1200px;
  }
}
@media (min-width: 1300px) {
  .my-farm-container {
    min-width: 1300px;
  }
}

.my-farm-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-farm-content h1 {
   font-size: 3rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 3px;
}
.header-farm {
  padding: 0px 0px 0px 0px;
  color: #168c44;
  line-height: 78.02px;
  font-variant: normal;
}
.my-farm-description {
  display: flex;
  justify-content: center;
  align-items: center;
}
.handle-farm-tour {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 15px 0px 0px 0px;
  color: #168c44;
  font-style: normal;
}
.my-farm-description p {
  width: 90%;
  font-size: 18px;
}
.farm-content-detail {
  color: #bfa088;
  font-weight: bold;
  line-height: 1.5;
}
.my-farm-map {
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-farm-map iframe {
  width: 90%;
  background-color: azure;
}

.form-servies-container {
  width: 100%;
  background: url(../images/banner-page.png) no-repeat center center;
  background-size: contain;


  /* width: 100%;
  background: url(../images/banner-page.png) no-repeat center center;
  background-size: contain;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px; */
}
.handle-button-more {
  display: flex;
  justify-content: center;

}

/* Modal Styles */

.container-model {
  display: none !important;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 54px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  padding: 16px; /* Prevents content from touching screen edges */
  overflow-y: auto; /* Allows scrolling if content is too tall */
}



.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%; /* Default width */
  max-width: 600px; /* Maximum modal width */
  position: relative;
}
.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: #000;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

@media (max-width: 1024px) {
  .modal-content {
    width: 80%;
    max-width: 500px;
  }
}
@media (max-width: 768px) {
  .modal-content {
    width: 85%;
    max-width: 400px;
  }
}

@media (max-width: 375px) {
  .modal-content {
    width: 95%;
    max-width: 350px;
    padding: 16px;
  }
}

@media (max-width: 320px) {
  .modal-content {
    width: 98%;
    max-width: 300px;
    padding: 14px;
  }
}
@media (max-width: 320px) {
  .modal-content {
    width: 98%;
    max-width: 300px;
    padding: 14px;
  }
}

.close-btn:hover {
  color: #f00; /* Red on hover */
}

/* Title Styling */
.title-model {
  color: #f4a622;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.form-servies {
  display: grid;
  grid-template-rows: 8% 87% max-content;
}
.form-servies-title {
  display: flex;
  justify-content: center; /* Center the text */
  align-items: center; /* Align everything vertically */
  position: relative; /* Allow absolute positioning for icons */
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.farm-servies-icon,
.farm-servies-heart {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: clamp(40px, 8vw, 80px); /* Make icons responsive */
  height: clamp(40px, 8vw, 80px);
  position: absolute; /* Position icons separately */
}

.farm-servies-icon {
  background-image: url('../images/icon-cloud.svg');
  left: 5%; 
  top: 16%;
}

.farm-servies-heart {
  background-image: url('../images/icon-heart.svg');
  right: 13%; /* Position right */
  top: 5%;
}
.caption-form {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  color: #168c44;
  font-style: normal;
}
.farm-handle-map {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  .container-farm-card {
      padding: 15px;
   
    }
  .form-servies-title h3 {
    font-size: 28px;
    line-height: 1.2;
    font-weight: 600;
    color: #168c44;
  }
  .farm-servies-heart {

    width: clamp(40px, 6vw, 80px); 
    height: clamp(40px, 6vw, 80px);
  
  }
  .form-servies-title {
    padding: 5px 0;
  }
}

.form-card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.service-card {
  border: 3px solid #168c44;
  border-radius: 10px;
  padding: 12px;
  text-align: center;
  width: 32%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
@media only screen and (max-width: 900px) {
  .service-card {
    border: 2px solid rgb(66, 185, 26);
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    width: 32%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  .form-card-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 13px;
  }
  .form-servies {
    display: grid;
    grid-template-rows: 9% 89% max-content;
  }
}
@media only screen and (max-width: 768px) {
  .form-card-container {
    display: flex;
    justify-content: center !important;
    flex-wrap: wrap !important;
    gap: 13px !important;
    padding: 13px !important;
  }
  .service-card {
    border: 2px solid rgb(66, 185, 26);
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    width: 48%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  .service-icon {
    width: 140px !important;
    height: 140px !important;
    margin-bottom: 15px !important;
  }
  .form-servies {
    display: grid;
    grid-template-rows: 4% 89% max-content !important;
  }
}
@media only screen and (max-width: 560px) {
  .farm-servies-heart {

    width: clamp(40px, 5vw, 80px); 
    height: clamp(40px, 6vw, 80px);
  
  }
  .service-icon {
    width: 140px !important;
    height: 140px !important;
    margin-bottom: 15px !important;
  }
  .form-card-container {
    display: flex;
    justify-content: center !important;
    flex-wrap: wrap !important;
    gap: 10px !important;
    padding: 2px !important;
  }
  .service-card {
    padding: 2px !important;

    width: 48% !important;
  }
  .form-servies {
    display: grid;
    grid-template-rows: 7% 89% max-content !important;
  }
}
@media only screen and (max-width: 429px) {
  .farm-servies-heart {

    width: clamp(40px, 4vw, 80px); 
    height: clamp(40px, 4vw, 80px);
  
  }
  .form-card-container {
    display: flex;
    justify-content: center !important;
    flex-wrap: wrap !important;
    gap: 10px !important;
    padding: 2px !important;
  }
  .service-card {
    padding: 2px !important;

    width: 90% !important;
  }
  .form-servies {
    display: grid;
    grid-template-rows: 4% 89% max-content !important;
  }
  .form-card-container {
    gap: 20px !important;
    padding: 10px !important ;
  }
}

@media only screen and (max-width: 325px) {
  .service-card {
    padding: 2px !important;

    width: 98% !important;
  }
  .form-servies-title h3 {
    font-size: 18px !important;
    line-height: 1.2 !important;
  }

  .form-card-container {
    gap: 20px !important;
    padding: 10px !important ;
  }
}

.service-card:hover {
  transform: scale(1.05);
}
.circle {
  background-color: #168c44;
  color: #ffee00;
  font-family: 'Doriel', sans-serif !important;
  font-size: 2.5rem;
  font-weight: bold;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto 10px;
}

.caption-card-title {
  font-size: 19px;
  font-weight: 600;
  color: rgb(51, 51, 51);
  margin-bottom: 10px;
  padding: 0px 0px 0px 0px;
  line-height: 1.4;
  font-style: normal;
}

.service-icon {
  width: 178px;
  height: 157px;
  margin-bottom: 15px;
}
.card-detail {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.raise-sheep-container {
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 0px 48px 0px 48px;
}
.padding-raise{
  display: flex;
  justify-content: center;
  padding: 50px 0px 0px 0px !important;
}


.raise-sheep-content {
  display: flex;
  justify-content: center;
  padding: 6px 0px 0px 0px;
}

.step {
  background: white;
  border: 3px solid #168c44;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
}
.step-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.step-number {
  width: 60px;
  height: 60px;
  font-family: 'Doriel', sans-serif !important;
  background: #008000;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  line-height: 61px;
  border-radius: 50%;
  margin: -7px 0px 0px 0px;
}


.custom-line {
  border: none;
  height: 3px;
  background-color: #168c44;
  width: 100%;
  margin-top: -2px;
  opacity: 1.7;
}

.detail-stept {
  padding: 10px 0px 0px 0px;
  color: #000000;
}
.choose-conten {
  font-size: 30px;
  line-height: 0.5;
  color: #168c44;
  font-weight: 500;
  font-style: normal;
}

.detail-stept > p {
  font-size: 18px;
  line-height: 0.7;
  font-weight: 600;
  padding: 0px 0px 0px 19px;
}

.container-triangle {
  display: flex;
  justify-content: center;
  padding: 0px 0px 18px 0px;
}

.triangle {
  width: 0px;
  height: 0px;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 20px solid #168c44;
  margin: -8px auto;
}

.container-raise {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  
  .step {
   
    padding: 20px;
    margin-bottom: 16px;
  }
  .raise-sheep-container {
    padding: 10px 30px 10px 30px;
  }
  .detail-stept > p {
    font-size: 16px;
    line-height: 1.4;
    padding: 0px 0px 0px 19px;
  }
  .triangle {
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 20px solid #168c44;
  }
  .choose-conten {
    font-size: 26px;
    line-height: 1.2;
    color: #168c44;
    font-weight: 500;
    font-style: normal;
  }
}

@media only screen and (max-width: 600px) {
  .caption-card-title {
    font-size: 18px;
    line-height: 1.4;
  }
  .card-detail {
    font-size: 16px;
    line-height: 1.3;
  }
  .container-farm-card {
    padding: 10px;
 
  }
  .circle {
    font-size: 2.2rem;
    width: 50px;
    height: 50px;
    margin: 5px auto 5px;
  }
}
@media only screen and (max-width: 425px) {
  .hotline, .email {
    font-size: 12px;
    padding: 6px 12px;
}
  .container-farm-card {
    padding: 10px;
 
  }
  .choose-conten {
    font-size: 22px;
    line-height: 1.2;
  }
  .form-servies-title {
    padding: 2px 0;
  }
  .form-servies-title h3 {
    font-size: 26px;
    line-height: 1.2;
    font-weight: 600;
  }
  .raise-sheep-container {
    padding: 5px 25px 5px 25px;
  }
  .triangle {
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 20px solid #168c44;
  }
  .step-number {
    height: 60px;
    width: 60px;
    line-height: 62px;
    font-family: 'Doriel', sans-serif !important;
    font-size: 2.2rem;
  }

  .circle {
    
    font-size: 2.2rem;
  }
  
}
@media only screen and (max-width: 375px) {
  .welcome-message {
    font-size: 13px;
    padding: 4px 0;
}
  .form-card-container {
    gap: 10px !important;
    padding: 10px !important;
  }
  .container-farm-card {
    padding: 5px;
  }
  .farm-servies-heart {

    width: clamp(40px, 2vw, 80px); 
    height: clamp(40px, 2vw, 80px);
  
  }
  .choose-conten {
    font-size: 20px;
    line-height: 1.2;
  }
  .form-servies-title h3 {
    font-size: 24px;
    line-height: 1.2;
  }
  .step {
   
    padding: 16px;
    margin-bottom: 14px;
  }
  .raise-sheep-container {
    padding: 0px 20px 0px 20px;
  }
  .step-number {
    height: 60px;
    width: 60px;
    font-size: 2rem;
    line-height: 58px;
  }
  .circle {
    font-size: 2.2rem;
  }
}

.container-farm-tour {
  display: flex;
  padding: 0px 7px 0px 7px;
  flex-direction: column;
}
.farm-container-center {
  display: flex;
    justify-content: center;
    padding: 0px 24px 24px 24px;
}
.farm-tour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
  height: auto;
  margin: auto;
  padding: 5px;

}
.farm-card {
display: flex;
justify-content: space-between;
background-color: #778731;
border-radius: 2px;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
height:  100%;
border: 2px solid #77a600;
}

.farm-card-content {
  display: flex;
  /* flex-direction: column; */
  width: 50%;
  padding: 4px;
  height: 340px;
}
.card-content-farm >p >strong {
  color: #ffee00;
  font-size: 15px;
  font-weight: 500;
}

.card-content-farm >p {
  color: rgb(255, 255, 255);
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
}
.content-section {
  text-align: left;
  padding: 10px 30px 20px 30px;
  line-height: 1.2;
}
    /* Image Gallery */
    .image-gallery {
      display: flex;
      justify-content: center;
      gap: 15px;
  }

  .image-gallery img {
      width: 45%;
      border-radius: 2px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
.content-section >p >strong {
  color:  #247847 !important;
  font-weight: 600;
}
.content-section >p {
  color:  #212121 !important;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 6px;
}
.fix-image-resposive {
  object-fit: cover;
  max-width: 100%;
  min-width: 100%;
  height: 340px;
}


@media only screen and (max-width: 768px) {
  /* .modal-content {

    width: 550px;
  } */
  .close-btn {
    top: 23px;
  }
}
@media only screen and (max-width: 620px) {
  /* .modal-content {

    width: 420px;
  } */
}

.show-more-button {
  background-color: #ffee00;
  color: #008000;
  padding: 5px 24px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  transition: background 0.3s ease;
 
}

@media only screen and (max-width: 500px) {
  /* .modal-content {

    width: 360px;
  } */
  .image-gallery img {
    width: 54%;
}

}

@media only screen and (max-width: 425px) {
  /* .modal-content {

    width: 336px;
  } */
  .close-btn {
    top: 20px;
    right: 10px;
  }
  .title-model {
    color: #f4a622;
    font-size: 22px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 320px) {
  /* .modal-content {

    width: 294px;
  } */
  .title-model {
    color: #f4a622;
    font-size: 20px;
    margin-bottom: 10px;
  }
}
@media (max-width: 1300px) {
  .farm-card-content {
    display: flex;
    /* flex-direction: column; */
    width: 48%;
    padding: 4px;
    height: 330px;
  }

  .card-content-farm {
    text-align: left;
    padding: 0px 0px 0px 6px;
    line-height: 1.4;
    height: 300px;
  }
  
  .fix-image-resposive {
    height: 330px;

  }
  .image-farm-tour {
    width: 52% !important;
    display: flex;
    justify-content: center;
  }

  .card-content-farm >p {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .card-content-farm >p >strong {
    color: #ffee00;
    font-size: 15px;
    font-weight: 500;
  }
  .handle-content {
    font-size: 17px !important;
    margin-bottom: 6px;
  }
}
@media (max-width: 1240px){
  .card-content-farm {
    padding: 4px !important;
    line-height: 1.35 !important;
 
  }
  .farm-card-content {
    display: flex;
    height: 346px;
  }
  .fix-image-resposive {
    height: 346px;

  }
  .show-more-button {
    padding: 4px 24px;

    margin-top: 5px;
        font-size: 12px;
  
  }
}

@media only screen and (max-width: 1075px) {
  .farm-card-content {
    display: flex;
    width: 48%;
    padding:  4px;
    height: 363px;
  }
  .card-content-farm {
    text-align: left;
    padding: 2px;
    line-height: 1.2;
    height: 300px;
  }
  .fix-image-resposive {
    height: 363px;
  }
  
  .image-farm-tour {
    width: 52% !important;
    display: flex;
    justify-content: center;
  }
}


@media only screen and (width: 1024px) {
  .show-more-button {
    padding: 5px 24px;
    margin-top: 10px;
    font-size: 13px;
  }
  .farm-card-content {
    display: flex;
    width: 50%;
    padding: 4px;
    height: 343px;
  }
  .fix-image-resposive {
    height: 343px;
  }
  .fix-image-responsive {
    height: 327px !important;
  }
}



.farm-card-title {
  display: flex;
  justify-content: center;
}
.padding-card-farm {
  display: flex;
 flex-direction: row;
}
.farm-card-title h5 {
  display: flex;
text-align: center;
}

.image-farm-tour {
  width: 50%;
  display: flex;
  justify-content: center;
}

.farm-handle-content {
  display: flex;
  justify-content: center;
}
.handle-content {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #fab132;
  font-weight: 500;
  font-size: 16px;
}

.card-content-farm {
  text-align: left;
  padding: 6px;
  line-height: 1.4;
  height: 300px;
}


.padding-box {
  border: 3px solid #e6a534;
}


@media only screen and (max-width: 1024px) {
  .handle-content {
 
    font-size: 15px !important;
    margin-bottom: 3px;
    margin-top: 5px;
  }
  .card-content-farm {
    text-align: left;
    padding: 0px 0px 0px 3px;
    line-height: 1.4;
  }
  .card-content-farm >p {
    color: rgb(255, 255, 255);
    margin-bottom: 6px;
    font-size: 13px;
    font-weight: 500;
  }
  .card-content-farm >p >strong {
    color: #ffee00;
    font-size: 14px;
    font-weight: 500;
  }

}

@media only screen and (max-width: 1024px) {
  
}

@media only screen and (max-width: 930px) {
  .farm-card {
    height:  100%;

    }
    
  .farm-tour {
    display: grid;
    grid-template-columns: 1fr;
 
  }
  .card-content-farm {
    text-align: left;
    padding: 4px;
    line-height: 1.4;
  }
  .card-content-farm >p {
    color: rgb(255, 255, 255);
    margin-bottom: 6px;
    font-size: 15px;
    font-weight: 500;
  }
  .card-content-farm >p >strong {
    color: #ffee00;
    font-size: 16px;
    font-weight: 500;
  }
  .image-farm-tour {
    width: 46% !important;
    display: flex;
    justify-content: center;
  }
  .farm-card-content {
    display: flex;
    width: 56%;
    padding: 0px 0px 0px 4px;
    height: 240px;
  }
  .fix-image-resposive {
    height: 240px;
  }
  
}

@media only screen and (max-width: 850px) {
  .card-content-farm {
    text-align: left;
    padding: 0px 0px 0px 2px;
    line-height: 1.4;
  }
  .card-content-farm >p {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
  }
  .card-content-farm >p >strong {
    color: #ffee00;
    font-size: 15px;
    font-weight: 500;
  }

  .handle-content {
    font-size: 15px !important;
     
    }
}
@media only screen and (max-width: 768px) {
 
}



@media (max-width: 745px) {
  .farm-card-content {
    display: flex;
    width: 58%;
    padding: 4px;
    height: 280px;
  }
  .image-farm-tour {
    width: 42% !important;
    display: flex;
    justify-content: center;
  }
  .fix-image-resposive {
    height: 280px;

  }
  .card-content-farm {
    text-align: left;
    padding: 0px 0px 0px 4px;
    line-height: 1.4;
  }
  .card-content-farm >p {
    color: rgb(255, 255, 255);
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: 500;
  }
  .card-content-farm >p >strong {
    color: #ffee00;
    font-size: 15px;
    font-weight: 500;
  }
}
@media only screen and (max-width: 600px){
  .fix-image-resposive {
    height: 100%;
  }
  .farm-tour {
    gap: 15px;
 
  }
  .image-farm-tour {
    order: -1;
    width: 100% !important;
    display: flex;
    justify-content: center;
  }
  .farm-card {
    display: flex;
    flex-direction: column;
    height:  100%;

    }

  .farm-card-content {
    display: flex;
    width: 100%;
    padding: 4px;
  }
  .padding-box {
    border: 3px solid #e6a534;
    width: 100% !important;
    height: auto;
  }
  .handle-content {
    font-size: 18px !important;
    line-height: 1.3 !important;
     margin-bottom: 4px;
    }

    .card-content-farm {
      text-align: left;
      padding: 0px 0px 0px 4px;
      line-height: 1.4;
    }
    .card-content-farm >p {
      color: rgb(255, 255, 255);
      margin-bottom: 4px;
      font-size: 14px;
      font-weight: 500;
    }
    .card-content-farm >p >strong {
      color: #ffee00;
      font-size: 15px;
      font-weight: 500;
    }
}

@media only screen and (max-width: 480px){
  .handle-content {
    font-size: 17px !important;
     line-height: 1.3 !important;
     margin-bottom: 3px;
    }

    .card-content-farm {
      text-align: left;
      padding: 0px 0px 0px 4px;
      line-height: 1.4;
    }
    .card-content-farm >p {
      color: rgb(255, 255, 255);
      margin-bottom: 3px;
      font-size: 14px;
      font-weight: 500;
    }
    .card-content-farm >p >strong {
      color: #ffee00;
      font-size: 15px;
      font-weight: 500;
    }

    .farm-card-content {
      display: flex;
      width: 100% !important;
      padding: 4px;
      height: 295px;
    }
}

@media only screen and (max-width: 425px){
  .handle-content {
    font-size: 16px !important;
     line-height: 1.3 !important;
     margin-bottom: 4px;
    }

    .card-content-farm {
      text-align: left;
      padding: 0px 0px 0px 4px;
      line-height: 1.4;
    }
    .card-content-farm >p {
      color: rgb(255, 255, 255);
      margin-bottom: 3px;
      font-size: 15px;
      font-weight: 500;
    }
    .card-content-farm >p >strong {
      color: #ffee00;
      font-size: 16px;
      font-weight: 500;
    }
    .farm-card-content {
      height: 300px;
    }
}

@media only screen and (max-width: 425px){
  .farm-container-center {
    padding: 15px;
  }
  .handle-content {
    font-size: 16px !important;
     line-height: 1.3 !important;
     margin-bottom: 3px;
    }

    .card-content-farm {
      text-align: left;
      padding: 0px 0px 0px 4px;
      line-height: 1.4;
    }
    .card-content-farm >p {
      color: rgb(255, 255, 255);
      margin-bottom: 3px;
      font-size: 15px;
      font-weight: 500;
    }
    .card-content-farm >p >strong {
      color: #ffee00;
      font-size: 16px;
      font-weight: 500;
    }
    .farm-card-content {
      height: 310px;
    }
}

@media only screen and (max-width: 375px){
  .farm-container-center {
    padding: 10px;
  }
  .handle-content {
    font-size: 15px !important;
     line-height: 1.3 !important;
     margin-bottom: 2px;
    }

    .card-content-farm {
      text-align: left;
      padding: 0px 0px 0px 4px;
      line-height: 1.4;
    }
    .card-content-farm >p {
      color: rgb(255, 255, 255);
      margin-bottom: 7px;
      font-size: 13px;
      font-weight: 500;
    }
    .card-content-farm >p >strong {
      color: #ffee00;
      font-size: 14px;
      font-weight: 500;
    }
    .farm-card-content {
      height: 318px;
    }
    .card-content-farm {
      line-height: 1.3;
    }
}



.farm-visitor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  height: auto;
  margin: auto;
    padding: 32px;
}

.farm-visitor-card {
  background-color: #77a600;
  color: white;
  border-radius: 50%;
  padding: 40px;
  text-align: center;
  width: 100%;
  max-width: 360px;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.farm-visitor-card > h2 {
  font-size: 22px;
  color: #ffde00;
  margin-bottom: 10px;
  line-height: 1.2;
}

.farm-visitor-card > p {
  font-size: 20px;
  margin-bottom: 2px;
  line-height: 1.4;
  color: #ffffff;
}


@media   (max-width: 1024px){

  
  .farm-visitor-card {
    max-width: 307px;
    padding: 15px;
    max-height: 307px;
  }
  .farm-visitor-card > h2 {
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 1.2;
  }

  .farm-visitor-card > p {
    font-size: 16px;
    margin-bottom: 2px;
    line-height: 1.3;
  }
  
}

@media only screen and (max-width: 820px){
  .farm-visitor-card > h2 {
    font-size: 16px;
    margin-bottom: 2px;
    line-height: 1.2;
  }


  .farm-visitor-card {
    max-width: 307px;
    padding: 2px;
    max-height: 307px;
  }
  .farm-visitor-card > p {
    font-size: 14px;
    margin-bottom: 2px;
    line-height: 1.3;
  }
}
@media only screen and (max-width: 768px){
  .farm-visitor {
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
  .farm-visitor-card {
    max-width: 307px;
    padding: 0px 2px 0px 10px;
    max-height: 307px;
  }
  .farm-visitor-card > h2 {
    font-size: 14px;

  }
  .farm-visitor-card > p {
    font-size: 13px;
    margin-bottom: 2px;
    line-height: 1.2;
  }
}


@media only screen and (max-width: 630px){
  .farm-visitor {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
}
@media only screen and (max-width: 550px){
  .farm-visitor {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .farm-visitor-card > h2 {
    font-size: 16px;
    margin-bottom: 2px;
    line-height: 1.2;
  }
  .farm-visitor-card {
    max-width: 307px;
    padding: 2px;
    max-height: 307px;
  }
  .farm-visitor-card > p {
    font-size: 15px;
    margin-bottom: 2px;
    line-height: 1.3;
  }
}

@media only screen and (max-width: 375px){
  .farm-visitor-card > h2 {
    font-size: 16px;
    margin-bottom: 2px;
    line-height: 1.2;
  }
  .farm-visitor-card {
    max-width: 307px;
    padding: 10px;
    max-height: 307px;
  }
  .farm-visitor-card > p {
    font-size: 15px;
    margin-bottom: 2px;
    line-height: 1.3;
  }
}