@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/doriel');

body {
    margin: 0;
    font-family: 'Overpass', sans-serif;
}

.footer {
    position: relative;
    background-color: #fff;
    color: white;
    margin: 65px 0 0;
    padding: 40px 10px 20px;
    overflow: inherit;
}

.footer::before {
    content: '';
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    height: 270px;
    background: url('../images/wave-footer.png') no-repeat center center;
    background-size: cover;
    z-index: 1;
}

.footer-content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-left h3 {
    font-size: 18px;
    margin: 0 0 10px;
}

.footer-left p {
    margin: 0;
    line-height: 1.5;
}

.footer-left {
    width: 30%;
    margin: auto;
}

.footer-center {
    text-align: center;
    width: 10%;
    margin: auto;
}

.footer-logo {
    width: 140px;
    height: 140px;
    object-fit: cover;
    top: -87px;
    position: relative;
}

.footer-right {
    text-align: right;
    width: 30%;
    margin: auto;
}

.social-icons a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
    font-size: 20px;
}

.footer-bottom {
    text-align: center;
    margin-top: -45px;
    font-size: 14px;
    position: relative;
    text-transform: uppercase;
    z-index: 2;
}

@media (max-width: 900px){
    .footer-logo {
        width: 120px;
        height: 120px;
        object-fit: cover;
        top: -80px;
        position: relative;
    }
    
.footer-left h3 {
    font-size: 16px;
    margin: 0 0 10px;
}


.footer-bottom {
    text-align: center;
    margin-top: 12px;
    font-size: 14px;
    z-index: 2;
}
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer::before {
        top: -26px;
        height: 350px;
    }
    .footer-logo {

        top: -18px;
    }
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-center {
        width: 100%;
        order: -1; 
        margin-top: 24px;
    }

    .footer-left, .footer-right {
        width: 100%;
        /* margin-bottom: 20px; */
    }
    .footer-logo {
        width: 100px;
        height: 100px;
    }

    .footer-bottom {
        margin-top: 20px;
    }
    .footer {
        
        padding: 9px 10px 0px 0px;
 
    }
    .footer-left,
    .footer-right,
    .footer-center {
        width: 100%;
        /* margin-bottom: 20px; */
    }
    .footer-left {
        margin-top: -14px;
    }
    .footer-right {
        text-align: center;

    }

    .social-icons a {
        font-size: 24px;
        margin: 0 4px;
    }
}

@media (max-width: 480px) {

    .footer-logo {
        width: 100px;
        height: 100px;
    }

    .social-icons a {
        font-size: 20px;
        margin: 0 6px;
    }
    .footer-left p {
        margin: 0;
        line-height: 1.4;
    }
}

@media (max-width: 375px) {
    .footer-bottom {
    
        font-size: 12px;
       
    }
    .footer-left h3 {
        font-size: 15px;
        margin: 0 0 10px;
    }

    .footer-bottom {
        margin-top: 26px;
    }
    .footer::before {
        top: -8px;
        height: 355px;
    }
    .footer-logo {

        top: -7px;
    }
    .footer-left {
        margin-top: -8px;
    }
}