@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');



body {
    margin: 0;
    font-family: 'Overpass', sans-serif;
}

.footer {
    position: relative;
    background-color: #fff;
    color: white;
    margin: 65px 0 0;
    padding: 40px 10px 20px;
    overflow: inherit;
}

.footer::before {
    content: '';
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    height: 300px;
    background: url('../images/wave-footer.png') no-repeat center center;
    background-size: cover;
    z-index: 1;
}

.footer-content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-left h3 {
    font-size: 18px;
    margin: 0 0 10px;
}

.footer-left p {
    margin: 0;
    line-height: 1.5;
}

.footer-left {
    width: 30%;
    margin: auto;
}

.footer-center {
    text-align: center;
    width: 10%;
    margin: auto;
}

.footer-logo {
    width: 130px;
    height: 130px;
    object-fit: cover;
    top: -55px;
    position: relative;
}

.footer-right {
    text-align: right;
    width: 30%;
    margin: auto;
}

.social-icons a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
    font-size: 20px;
}

.footer-bottom {
    text-align: center;
    margin-top: -45px;
    font-size: 14px;
    position: relative;
    text-transform: uppercase;
    z-index: 2;
}



/* Responsive Design */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-left,
    .footer-right,
    .footer-center {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer-right {
        text-align: center;
    }

    .social-icons a {
        font-size: 24px;
        margin: 0 4px;
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 30px 10px;
    }

    .footer-logo {
        width: 100px;
        height: 100px;
    }

    .social-icons a {
        font-size: 22px;
        margin: 0 6px;
    }
}