@charset "UTF-8";
/* ======================================================
pc
====================================================== */
@media only screen and (min-width: 2150px) {
  .--revers .room_slide {
    margin-left: auto;
    transform: translateX(11vw) !important;
    /* -webkit-transform: translateX(23vw); */
    -moz-transform: translateX(4vw);
    -ms-transform: translateX(4vw);
    -o-transform: translateX(4vw);
  }
}
@media only screen and (min-width: 2150px) {
  .room_slide {
    width: 84%;
    padding: calc(11% + 168px) 0 0 !important;
    margin-bottom: 50px;
    position: relative;
    z-index: 2;
    display: block;
  }
}

@media (min-width: 1001px) {
  /* about
---------------------------------------------------------------------- */
  .about {
    padding: 45px 0 0;
    font-size: 1.8rem;
    line-height: 2.22222;
    /* letter-spacing: 0.15em; */
    /* padding: 100px 0 0; */
  }
  .about__ttl {
    /* font-size: 4.2rem; */
    /* letter-spacing: 0.1em; */
    line-height: 1.33333;
    font-size: 3.1rem;
    margin-bottom: 30px;
    text-align: center;
    color: #A6585D;
  }
  .about__lead {
    /* margin-bottom: 50px;
    font-weight: 500;
    text-align: center; */
    margin-bottom: 50px;
    font-weight: 500;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    letter-spacing: inherit;
  }
  .rooms__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 7.5px;
    margin-bottom: 150px;
    font-family: YuMincho, "Yu Mincho", 游明朝体, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", 'Noto Serif JP', "ＭＳ 明朝", "MS Mincho";
  }
  .rooms__nav li a {
    padding: 10px 10px;
    min-height: 68px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* background-color: #3C3C3C; */
    border-radius: 50px;
    border: 2px solid #8a6d3b;
    width: 210px;
    color: #8a6d3b;
    font-size: 15px;
  }
  .rooms__nav li a:hover {
    padding: 10px 10px;
    min-height: 68px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #8a6d3b;
    text-decoration: dotted;
    width: 210px;
    color: #fff;
    font-size: 15px;
  }
  /* rooms
---------------------------------------------------------------------- */
  .rooms__Wrap {
    position: relative;
    padding: 0 0 150px;
  }
  .rooms__bg {
    content: "";
    /* width: 84%; */
    /* padding: 100px 5%;
    aspect-ratio: 1616 / 1054; */
        /* background-color: #9C464B; */
    /* padding: 50px 5%; */
    /* aspect-ratio: 1616 / 1054; */
    padding: 20px 5%;
    background-color: #a78f64;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 80%;
    aspect-ratio: 2527 / 1054;
  }
  .rooms__bgInr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: min(1.5vw, 2.4rem);
    line-height: 1.66667;
  }
  .rooms__bgInr span.bar {
    height: 1px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 200px;
    margin: 0 25px;
    background-color: #fff;
  }
  .rooms__ttl {
    font-size: min(2.5vw, 4.5rem);
    line-height: 1.11111;
    letter-spacing: 0.1em;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .rooms__ttl span {
    font-size: min(1.5vw, 2.4rem);
    line-height: 1.79167;
    /* letter-spacing: 0.52em; */
    display: block;
    margin-top: 15px;
    font-weight: 300;
    font-family: 'Noto Sans JP', "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, sans-serif;
  }
  .rooms__img {
    width: 84%;
    padding: calc(11% + 105px) 0 0;
    margin-bottom: 50px;
    position: relative;
    z-index: 2;
  }
  .room_slide {
    width: 84%;
    /* padding: calc(11% + 78px) 0 0; */
    padding: calc(11% + 105px) 0 0;
    margin-bottom: 50px;
    position: relative;
    z-index: 2;
    display: block;
  }
  .rooms__txt {
    max-width: 670px;
  }
  .rooms__content {
    max-width: 1640px;
    padding: 0 20px;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 3;
  }
  .rooms__spec {
    border-top: 1px solid #939393;
    border-bottom: 1px solid #939393;
    padding: 35px 10px 35px 35px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 740px;
            flex: 0 1 740px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .rooms__specTtl {
    color: #9C464B;
    font-size: 2.1rem;
    line-height: 1.66667;
    letter-spacing: 0.0em;
    margin-right: 5%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    font-family: YuMincho, "Yu Mincho", 游明朝体, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", 'Noto Serif JP', "ＭＳ 明朝", "MS Mincho";
  }
  .rooms__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .rooms__list li::before {
    content: "・";
  }
  .rooms__map {
    width: 42%;
    margin-left: 15px;
    position: relative;
  }
  .rooms__map span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .rooms__map span img {
    max-height: 180px;
  }
  .--revers .rooms__bg {
    top: 0;
    left: 0;
    right: initial;
    /* padding: 100px 4% 100px 16%; */
  }
  .--revers .rooms__bgInr {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    margin-left: auto;
  }
  .--revers .rooms__bgInr span.bar {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .--revers .rooms__img {
    margin-left: auto;
  }
  /* .--revers .room_slide {
    margin-left: auto;
  } */
    .--revers .room_slide {
    margin-left: auto;
    transform: translateX(13vw);
    /* -webkit-transform: translateX(23vw); */
    -moz-transform: translateX(4vw);
    -ms-transform: translateX(4vw);
    -o-transform: translateX(4vw);
  }

  @media only screen and (max-width: 1024px) {
    .--revers .room_slide {
      margin-left: auto;
      transform: translateX(0vw);
      /* -webkit-transform: translateX(23vw); */
      -moz-transform: translateX(4vw);
      -ms-transform: translateX(4vw);
      -o-transform: translateX(4vw);
    }
  }

  @media only screen and (max-width: 1440px) {
    .--revers .room_slide {
      margin-left: auto;
      transform: translateX(0vw);
      /* -webkit-transform: translateX(13vw); */
      -webkit-transform: translateX(21vw);
      -moz-transform: translateX(4vw);
      -ms-transform: translateX(4vw);
      -o-transform: translateX(4vw);
    }
  }


  /* amenity
---------------------------------------------------------------------- */
  .amenity {
    background-color: #F5F3ED;
    padding-bottom: 170px;
  }
  .amenity_bg {
    width: 100%;
    height: 500px;
  }
  .amenity_bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .amenity .ctitle {
    text-align: center;
  }
  .amenity .ctitle2 {
    color: #9C464B;
    text-align: left;
    margin-bottom: 10px;
  }
  .amenity__wrap {
    background-color: #fff;
    padding: 105px 5% 100px;
    text-align: center;
    max-width: 1300px;
    margin: -95px auto 0;
    position: relative;
  }
  .amenity__note {
    text-align: center;
    margin-bottom: 45px;
  }
  .amenity__list {
    padding-top: 90px;
  }
  .amenity__list > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #939393;
  }
  .amenity__list > li:last-of-type {
    margin-bottom: 0px;
  }
  .amenity__img {
    width: 246px;
    margin-right: 25px;
  }
  .amenity__content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .amenity__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    line-height: 1.9;
    letter-spacing: 0.1em;
  }
  .amenity__item li::after {
    content: "／";
  }
}

@media (min-width: 1000px) and (max-width: 1360px) {
  .rooms__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 7.5px;
    margin-bottom: 150px;
    font-family: YuMincho, "Yu Mincho", 游明朝体, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", 'Noto Serif JP', "ＭＳ 明朝", "MS Mincho";
  }
  .rooms__nav li {
    width: 31%;
  }
  .rooms__nav li a {
    width: 100%;
    padding: 10px 10px;
    min-height: 68px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #fff;
    color: #8a6d3b;
    /* background-color: #3C3C3C;
    color: #fff; */
    font-size: 15px;
  }
  .rooms__nav li a:hover {
    width: 100%;
    padding: 10px 10px;
    min-height: 68px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #8a6d3b;
    text-decoration: dotted;
    color: #fff;
    /* background-color: #3C3C3C;
    color: #fff; */
    font-size: 15px;
  }
}

@media (max-width: 1000px) {
  /* about
---------------------------------------------------------------------- */
  .about {
    /* padding: calc( 140 / 750 * 100vw) 0 0 0; */
    padding: calc( 140 / 750 * 30vw) 0 0 0;
    font-size: 2.4vw;
    font-size: clamp(13px,2.4vw,18px);
    /* line-height: 2.0; */
    line-height: 1.8;
    /* line-height: 2.22222; */
    /* letter-spacing: 0.15em; */
  }
  .about__ttl {
    font-size: 5.33333vw;
    font-size: clamp(13px,5.33333vw,40px);
    line-height: 1.5;
    letter-spacing: 0.1em;
    margin-bottom: 30px;
    text-align: center;
    color: #A6585D;
  }
  .about__lead {
    margin-bottom: 50px;
    font-weight: 500;
    text-align: center;
  }
  .rooms__nav {
    display: -ms-grid;
    display: grid;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5vw;
    margin: 0 0 calc( 150 / 750 * 100vw) 0;
    font-family: YuMincho, "Yu Mincho", 游明朝体, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", 'Noto Serif JP', "ＭＳ 明朝", "MS Mincho";
  }
  .rooms__nav li a {
    padding: 10px 10px;
    min-height: 68px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* background-color: #3C3C3C;
    color: #fff; */
    border-radius: 50px;
    border: 2px solid #8a6d3b;
    text-align: center;
    /* width: 210px; */
    color: #8a6d3b;
    font-size: 15px;
  }

  .rooms__nav li a:hover {
    padding: 10px 10px;
    min-height: 68px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50px;
    background-color: #8a6d3b;
    text-decoration: dotted;
    color: #fff;
    font-size: 15px;
  }
  /* rooms
---------------------------------------------------------------------- */
  .rooms__Wrap {
    position: relative;
    margin: 0 0 calc( 150 / 750 * 100vw) 0;
    padding-top: 90px;
    margin-top: -90px;
  }
  .rooms__bg {
    content: "";
    width: 80%;
    /* padding: 5% 5% 100px; */
    background-color: #9C464B;
    padding: 5% 10% 50px;
    background-color: #a78f64;
    color: #fff;
    margin-left: auto;
    z-index: 1;
  }
  .rooms__bgInr {
    font-size: clamp(13px, 4.2vw, 24px);
    line-height: 1.66667;
    /* letter-spacing: 0.15em; */
  }
  .rooms__ttl {
    font-size: clamp(16px, 8vw, 45px);
    letter-spacing: 0.1em;
    font-weight: 400;
    line-height: 1.11111;
  }
  .rooms__ttl span {
    font-size: clamp(13px, 4.2vw, 24px);
    line-height: 1.79167;
    /* letter-spacing: 0.52em; */
    letter-spacing: 0.1em;
    display: block;
    margin-top: 15px;
    font-weight: 300;
    font-family: 'Noto Sans JP', "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, sans-serif;
  }
  .rooms__img {
    width: 95%;
    padding: 0;
    margin: -70px 0 50px;
    position: relative;
    z-index: 2;
  }
  .room_slide {
    width: 95%;
    padding: 0;
    margin: -35px 0 50px;
    position: relative;
    z-index: 2;
  }
  .rooms__content {
    max-width: 1640px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
  }
  .rooms__spec {
    border-top: 1px solid #939393;
    border-bottom: 1px solid #939393;
    padding: 5%;
  }
  .rooms__specTtl {
    color: #9C464B;
    font-size: clamp(16px, 3.4vw, 24px);
    line-height: 1.66667;
    letter-spacing: 0.15em;
    text-align: center;
    margin-bottom: 10px;
    font-family: YuMincho, "Yu Mincho", 游明朝体, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", 'Noto Serif JP', "ＭＳ 明朝", "MS Mincho";
  }
  .rooms__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .rooms__list li::before {
    content: "・";
  }
  .rooms__map {
    width: 100%;
    position: relative;
    padding: 20px;
  }
  .rooms__map span {
    display: block;
    width: 100%;
    aspect-ratio: 718 / 396;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .rooms__map span img {
    max-height: 40vh;
  }
  .--revers .rooms__bg {
    margin-right: auto;
    margin-left: 0;
  }
  .--revers .rooms__img {
    margin-left: auto;
  }
  .--revers .room_slide {
    margin-left: auto;
  }
  /* amenity
---------------------------------------------------------------------- */
  .amenity {
    background-color: #F5F3ED;
    margin: 0 0 calc( 170 / 750 * 100vw) 0;
  }
  .amenity_bg {
    width: 100%;
    aspect-ratio: 1 / 1;
  }
  .amenity_bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center right;
       object-position: center right;
  }
  .amenity .ctitle {
    text-align: center;
  }
  .amenity .ctitle2 {
    color: #9C464B;
    text-align: left;
    margin-bottom: 10px;
  }
  .amenity__wrap {
    background-color: #fff;
    padding: calc( 105 / 750 * 100vw) 5vw calc( 100 / 750 * 100vw);
    text-align: center;
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
  }
  .amenity__list {
    padding: calc( 90 / 750 * 100vw) 0 0 0;
  }
  .amenity__list > li {
    width: 100%;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #939393;
  }
  .amenity__list > li:last-of-type {
    margin-bottom: 0px;
  }
  .amenity__img {
    width: 100%;
    margin-bottom: 20px;
  }
  .amenity__img img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .amenity__content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .amenity__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    line-height: 1.9;
    letter-spacing: 0.1em;
    text-align: left;
  }
  .amenity__item li::after {
    content: "／";
  }
}
/*# sourceMappingURL=style.css.map */

/* continue style css  */
.catch{
  color: #fff;
  background-image: -moz-element();
  font-size: 42px;
  font-weight: 500;
}


.slide_rmdetail img{
  display: block;
  width: 71%;
  height: 400px;
}

@media only screen and (max-width: 1024px) {
    .slide_rmdetail img{
      display: block;
      width: 71%;
      height: 301px;
    }
}

@media only screen and (max-width: 786px) {
  .slide_rmdetail img{
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 786px) {
  .trans_768{
    transform: translateX(24vw) !important;
  }
}

@media only screen and (max-width: 425px) {
  .rooms__bg {
    content: "";
    width: 100%;
    background-color: #9C464B;
    padding: 5% 10% 50px;
    background-color: #a78f64;
    color: #fff;
    margin-left: auto;
    z-index: 1;
  }

  .slide_rmdetail img{
    display: block;
    width: 95%;
    height: 262px;
  }
  .trans_768{
    transform: translateX(5vw) !important;
  }
}