@charset "UTF-8";

/*scss Document */
html,
body {
  width: 100%;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
html {
    font-size: 100%!important;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  position: relative;
  color: #282828;
  background-color: #fff;
  font-size: 1.6rem;
  letter-spacing: 0.025em;
  line-height: 2.1;
  margin: 0 auto;
   font-family: 'GothamHTF-Book' !important;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
@media only screen and (max-width: 1023px){
  
.fnav__wrap a{
  color: #000 !important;
}
input,
select {
font-family: 'Poppins', sans-serif;
}
/*out date*/
.modal-wrapper {
  position: relative;
  border-bottom: 1px solid #666;
  text-align: left;
  padding-bottom: 0.5em;
}

.outer_date {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.outer_date{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 40px;
}
.close span:nth-of-type(1), .close span:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close span:nth-of-type(2), .close span:nth-of-type(2) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.close span, .close span {
  position: absolute;
  height: 1px;
  width: 50px;
  display: block;
  background-color: #464646;
  margin: auto;
  pointer-events: none;
  top: 25px;
}
/*new class*/
.text-h3hotel{
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-size: 300%;
  text-transform: uppercase;
  letter-spacing: .1em;
  text-align: center;
}
.modal-body {
  border-radius: 2em!important;
  background-color: #fff!important;
  margin-top: 16px!important;
  position: relative;
  padding: 15px;
}
.modal-body {
  padding: 80px !important;
}
.text-right04{
  margin-right: 25px;
}
.field-button{
  text-align: center;
}
.btn_more{
  margin-top: 50px;
}
.field-button input{
  background: #bda67c;
  display: block;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.35s ease-in-out 0.35s;
  transition: all 0.35s ease-in-out 0.35s;
  /* width: 100%; */
  margin: 0 auto;
  color: #fff;
  border: 0;
  padding: 1em;
}
.c-btn-input {
  position: relative;
}
.c-btn-input::before {
  content: "\e8b6";
  font-size: 32px;
  font-family: 'Material Icons';
  color: #fff;
  line-height: 1;
  position: absolute;
  pointer-events: none;
  top: calc(50% - 16px);
  left: 1em;
}
.c-box-other {
  margin: 3em 0 3em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.c-btn-input .c-btn-large {
  padding: 0.75em 2em 0.75em 3.25em;
}

.c-btn-theme {
  background: rgba(107,164,184,1) !important;
}
.c-btn {
  font-family: 'Noto Sans JP',sans-serif;
}
.u-boxshadow {
  -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}
.c-btn-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.c-btn-large {
  padding: 0.75em 2em;
  font-size: 22px;
}
.c-btn-theme {
  color: #fff !important;
  background: #2dafb9 !important;
}
.c-btn {
  padding: 0.4em 2em;
  font-size: 14px;
  font-family: 'Noto Sans JP',sans-serif;
  color: #333;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  background: #eee;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.text-right02{
  font-size: 20px;
  text-align: left;
  color: #464646;
  /* font-size: 22px; */
  padding: 0 0px !important;
}
.text-calada{
/*    font-size: 1.5rem;*/
  font-weight: 400;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 1px solid #666;
  padding-bottom: 0.5em;
  position: relative;
}
.modal-content {
  position: relative;
  background-color: #fff!important;
  border: 1px solid #fff !important;
}
.modal-content {
  -webkit-box-shadow: 0 0px 0px #fff !important;
  box-shadow: 0 0px 0px #fff !important;
}
.modal-dialog {
  position: relative!important;
  display: inline-block!important;
  width: 100%!important;
  margin: auto!important;
  text-align: left!important;
  color: #000;
  max-width: 1000px !important;
  border-radius: 0;
  background: #e8e8e8;
  box-shadow: 0 4px 15px rgba(0,0,0,.2);
  cursor: auto;
  max-width: 1280px!important;
  margin: auto;
  width: 100%!important;
}
.modaal-inner-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  vertical-align: middle;
  text-align: center;
  padding: 80px 25px;
}
.modaal-container {
  max-width: 1280px;
  margin: auto;
  width: 95%;
}
.modaal-container {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: auto;
  text-align: left;
  color: #000;
  max-width: 1000px;
  border-radius: 0;

  cursor: auto;
}
.modal {
overflow: inherit;
overflow-y: inherit;
text-align: center;
padding: 0;
}

.modal:before {
content: '';
display: inline-block;
height: 100%;
vertical-align: middle;
margin-right: -4px;
}

.modal-dialog {
max-width: 500px;
padding: 0;
display: inline-block;
text-align: left;
vertical-align: middle;
}

.modal-content {

border: 0;
border-radius: 0;

}

.modal-header {
border: 0;
padding: 0;
position: relative;
}

.modal-header .close {
  margin: 0;
  /* position: absolute; */
  top: -10px;
  right: -10px;
  width: 40px;
  height: 40px;
  /* border-radius: 23px; */
  /* background-color: #00aeef; */
  color: #ffe300;
  font-size: 0px;
  opacity: 1;

}

.modal-content p {
padding: 0 20px;
}

.modal-body {
padding: 0 0 10px 0;
}

.top_asinban {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 100;
  list-style: none;
  padding: 0;
  text-align: center;
}
.top_asinban li {
  line-height: 2.5;
  float: left;
  width: calc(100% / 3);
  height: 40px;
  border-left: 1px solid #D9CCBF;
  position: relative;
  box-sizing: border-box;
}
.img-room img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.booking-top{
  display: block;
  background-color: #F1EDE8 !important;
  border-bottom: 1px solid #D9CCBF !important;
  padding: 0px;
  margin: 0px;
}
.text-asibanh3{
line-height: 1.5;
font-size: 1.1rem;
}
.max-top{
  /* margin-top: 100px;
  margin-bottom: 100px; */
  width: 100vw;
}

.index__wrap{
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 160px 0 150px;
}

/* -----------------------------------------------------------
.room_concept
----------------------------------------------------------- */
.wellcome{
background-color: #F5F3ED;
}
.index01{
   position: relative;
   min-height: 100%;
   background-size: cover;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center center;
   z-index: 2;
   background-image: url(../img/banna_slide.jpg);
   padding: 130px 0 170px 0;
   margin-bottom: 0px;
}

.box_txt {
  text-align: start;
  align-items: center;
   background: url(../images/home/deco_logo.png) 5% 95% no-repeat;
   background-size: 50% auto;
   height: 100%;
   padding: 7% 3% 10%;
}
.slideIn-border.inview-in:before {
   opacity: 1;
   -webkit-animation-duration: 1.5s;
   animation-duration: 1.5s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
   -webkit-animation-name: slideInBorderPc;
   animation-name: slideInBorderPc;
   -webkit-transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
   transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

.base_txt_layout .tl_basic {
   font-family: "游明朝", YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
   font-size: 300%;
   font-weight: normal;
   color: #010101;
   letter-spacing: .2em;
   position: relative;
}
.base_txt_layout .tl_basic:before {
   content: "";
   background: #010101;
   width: 22%;
   height: 1px;
   position: absolute;
   top: 50%;
   right: 100%;
   max-width: 150px;
}

.room_concept img{
  position: relative;
  left: -12% !important;
}
.box_txt .wrp{
  position: relative;
  left: 8%;
  text-align: start;
  align-content: center;
}

.room_concept .room_box_concept:before {
content: "";
background: #eff6f8;
width: 100%;
height: 100%;
position: relative;
top: 0;
left: 0;
z-index: -1;
}
li {
list-style: none;
}
p {
  font-size: 18px !important;
  margin: 0 0 10px;
}
p {
-ms-text-justify: auto;
text-justify: auto;
text-justify: inter-ideograph;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
font-weight: normal;
}

img {
vertical-align: bottom;
max-width: 100%;
}
.noborder {
border: none !important;
}
.nomargin {
margin: 0 0 !important;
}
.ta_r {
text-align: right;
}
.ta_c {
text-align: center;
}
.ta_l {
text-align: left;
}
.cf:before,
.cf:after {
content: "";
display: table;
}
.cf:after {
clear: both;
}
.cf {
zoom: 1;
}
.yuMincho {
font-family: YuMincho, "Yu Mincho", 游明朝体, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", 'Noto Serif JP', "ＭＳ 明朝", "MS Mincho";
}
a {
color: unset;
text-decoration: none;
}
.wrap,
  #page {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .for_pc {
    display: none !important;
  }

  .for_tab {
    display: none;
  }

  .for_pcnotab {
    display: none !important;
  }

  .for_nw {
    display: none !important;
  }

  .cf_s:before,
  .cf_s:after {
    content: "";
    display: table;
  }

  .cf_s:after {
    clear: both;
  }

  .cf_s {
    zoom: 1;
  }
  /* .upview {
    --moz-animation: showup 0.6s linear 0s 1 normal forwards;
    --webkit-animation: showup 0.6s linear 0s 1 normal forwards;
    --o-animation: showup 0.6s linear 0s 1 normal forwards;
    --ms-animation: showup 0.6s linear 0s 1 normal forwards;
    } */
    /* .upview.uv2 {
    --moz-animation: showup 0.6s linear 0.3s 1 normal forwards;
    --webkit-animation: showup 0.6s linear 0.3s 1 normal forwards;
    --o-animation: showup 0.6s linear 0.3s 1 normal forwards;
    --ms-animation: showup 0.6s linear 0.3s 1 normal forwards;
    }
    .upview.uv3 {
    --moz-animation: showup 0.6s linear 0.6s 1 normal forwards;
    --webkit-animation: showup 0.6s linear 0.6s 1 normal forwards;
    --o-animation: showup 0.6s linear 0.6s 1 normal forwards;
    --ms-animation: showup 0.6s linear 0.6s 1 normal forwards;
    }
    .upview.uv4 {
    --moz-animation: showup 0.6s linear 0.9s 1 normal forwards;
    --webkit-animation: showup 0.6s linear 0.9s 1 normal forwards;
    --o-animation: showup 0.6s linear 0.9s 1 normal forwards;
    --ms-animation: showup 0.6s linear 0.9s 1 normal forwards;
    }
    .upview.uv5 {
    --moz-animation: showup 0.6s linear 1.2s 1 normal forwards;
    --webkit-animation: showup 0.6s linear 1.2s 1 normal forwards;
    --o-animation: showup 0.6s linear 1.2s 1 normal forwards;
    --ms-animation: showup 0.6s linear 1.2s 1 normal forwards;
    } */
    /* .showdown {
    opacity: 0;
    transition: 1s;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    } */
    /* .downview {
    --moz-animation: showdown 0.6s linear 0s 1 normal forwards;
    --webkit-animation: showdown 0.6s linear 0s 1 normal forwards;
    --o-animation: showdown 0.6s linear 0s 1 normal forwards;
    --ms-animation: showdown 0.6s linear 0s 1 normal forwards;
    }
    .downview.dv2 {
    --moz-animation: showdown 0.6s linear 0.3s 1 normal forwards;
    --webkit-animation: showdown 0.6s linear 0.3s 1 normal forwards;
    --o-animation: showdown 0.6s linear 0.3s 1 normal forwards;
    --ms-animation: showdown 0.6s linear 0.3s 1 normal forwards;
    }
    .downview.dv3 {
    --moz-animation: showdown 0.6s linear 0.6s 1 normal forwards;
    --webkit-animation: showdown 0.6s linear 0.6s 1 normal forwards;
    --o-animation: showdown 0.6s linear 0.6s 1 normal forwards;
    --ms-animation: showdown 0.6s linear 0.6s 1 normal forwards;
    }
    .downview.dv4 {
    --moz-animation: showdown 0.6s linear 0.9s 1 normal forwards;
    --webkit-animation: showdown 0.6s linear 0.9s 1 normal forwards;
    --o-animation: showdown 0.6s linear 0.9s 1 normal forwards;
    --ms-animation: showdown 0.6s linear 0.9s 1 normal forwards;
    } */
    /* .showleft {
       opacity: 0;
    transition: 1s;
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    }
    .leftview {
    --moz-animation: showleft 1s linear 0s 1 normal forwards;
    --webkit-animation: showleft 1s linear 0s 1 normal forwards;
    --o-animation: showleft 1s linear 0s 1 normal forwards;
    --ms-animation: showleft 1s linear 0s 1 normal forwards;
    } */
    /* .showright {
       opacity: 0;
    transition: 1s;
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    }
    .rightview {
    --moz-animation: showright 1s linear 0s 1 normal forwards;
    --webkit-animation: showright 1s linear 0s 1 normal forwards;
    --o-animation: showright 1s linear 0s 1 normal forwards;
    --ms-animation: showright 1s linear 0s 1 normal forwards;
    } */

  /* header 
  ---------------------------------------------------------------------- */
  .header_sns {
    width: calc(562 / 750 * 100vw);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .open .header_sns {
    z-index: 0;
  }

  .header_sns>a {
    display: block;
    width: calc(100% / 3);
    color: #fff;
    font-size: calc(31em / 26);
    line-height: 1.2;
    border-right: 1px solid #fff;
    background-color: #938168;
    height: calc(130 / 750 * 100vw);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .header_sns>a.reserve {
    background-color: #B5998E;
  }

  .header_sns>a img {
    display: block;
    width: auto;
    height: calc(50 / 750 * 100vw);
    margin-bottom: calc(15 / 750 * 100vw);
  }

  header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  header,
  header * {
    transition: all 0.3s ease;
    font-family: YuMincho, "Yu Mincho", 游明朝体, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", 'Noto Serif JP', "ＭＳ 明朝", "MS Mincho";
  }

  header .logo {
    width: 30vw;
    padding: 2vw 5vw;
    max-width: 213px;
    text-align: center;
    display: flex;
    align-items: center;
  }

  header .logo img {
    display: block;
    width: 100%;
  }

  #spnav ul {
    display: flex;
    width: 50%;
  }

  #spnav ul li:nth-child(1) {
    background: #A6585D;
  }

  #spnav ul li:nth-child(2) {
    background: #721D34;
  }

  #spnav ul li:nth-child(3) {
    background: #6D4D3B;
  }

  #spnav ul li a {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #Fff;
    line-height: 1;
    font-size: max(10px, 3.5vw);
    padding: 2vw;
  }

  #spnav ul li a>*:first-child {
    flex: 1;
    width: 6vw;
  }

  #spnav ul li a img {
    width: 100%;
  }

  header .open {
    position: relative;
    display: block;
    z-index: 5000;
  }

  header .open span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 7vw;
    height: 1px;
    background-color: #fff;
    transition: ease all .5s;
  }

  header .open span:nth-child(1) {
    top: 4vw;
  }

  header .open span:nth-child(2) {
    top: 6vw;
  }

  header .open span:nth-child(3) {
    top: 8vw;
  }

  header .open.active {
    background-color: transparent;
  }

  header .open.active span:nth-child(1) {
    top: calc(40 / 750 * 100vw);
    transform: translateX(-50%) rotate(45deg);
  }

  header .open.active span:nth-child(2) {
    display: none;
  }

  header .open.active span:nth-child(3) {
    top: calc(40 / 750 * 100vw);
    transform: translateX(-50%) rotate(-45deg);
  }

  header .fnav {
    display: none;
    width: 100%;
    position: fixed;
    top: 16vw;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-color: #fff;
    padding: calc(130 / 750 * 100vw) calc(65 / 750 * 100vw) calc(80 / 750 * 100vw) calc(65 / 750 * 100vw);
  }

  .open header .fnav {
    z-index: 2000;
    overflow: scroll;
  }

  #mainheader {
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 20000;
    background: #ffffff;
    height: 16vw;
  }

  #mainheader .mainheader__inr {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  #mainheader .fnav .copy {
    display: none;
  }

  #mainheader .fnav__wrap>ul {
    border-top: 1px solid #3e3a3a;
    margin-bottom: calc(60 / 750 * 100vw);
  }

  #mainheader .fnav__wrap>ul>li {
    border-bottom: 1px solid #3e3a3a;
  }

  #mainheader .fnav__wrap>ul>li a {
    display: block;
    font-size: calc(36em / 26);
    padding: calc(22 / 750 * 100vw) calc(15 / 750 * 100vw);
    position: relative;
  }

  #mainheader .fnav .fnav__childMenu {
    display: none;
    width: 80%;
    margin-left: auto;
    transition: none;
    padding-bottom: 3vw;
  }

  #mainheader .fnav .reserve {
    width: 100%;
    margin-bottom: calc(40 / 750 * 100vw);
  }

  #mainheader .fnav .reserve a {
    display: block;
    width: 100%;
    color: #fff;
    text-align: center;
    background-color: #B5998E;
    font-size: calc(44em / 26);
    padding: calc(30 / 750 * 100vw) 0;
  }

  #mainheader .fnav .reserve img {
    width: calc(52 / 750 * 100vw);
    margin-right: calc(20 / 750 * 100vw);
  }

  #mainheader .sns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #mainheader .sns a {
    display: block;
    width: calc(76 / 750 * 100vw);
    margin: 0 calc(25 / 750 * 100vw);
  }

  #mainheader #spnav {
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }

  #mainheader #spnav ul {
    display: flex;
    width: 80%;
  }

  #mainheader #spnav ul li {
    text-align: center;
    position: relative;
    width: 50%;
  }

  #mainvisual {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }

  #mainvisual .mvslide {
    width: 100%;
    height: 100%;
  }

  #mainvisual .slick-slider .slick-track,
  #mainvisual .slick-slider .slick-list {
    height: 100%;
  }

  #mainvisual .mvslide .slick-slide {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
  }

  #mainvisual .mvslide .slick-track {
    height: 100%;
  }

  #mainvisual .mvslide .slick-slide>div {
    height: 100%;
  }

  #mainvisual .mvslide .slick-slide>div>li {
    height: 100%;
  }

  #mainvisual picture {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  #mainvisual picture img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #mainvisual .catch {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  #mainvisual.sub .catch {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    transform: none;
  }

  #mainvisual.sub .catch img {
    max-width: 100%;
  }

  #mainvisual .mvslide .slick-dots li {
    display: block !important;
    width: calc(22 / 750 * 100vw);
    height: calc(22 / 750 * 100vw);
    background: rgba(255,255,255,.5);
    margin: 0 calc(25 / 750 * 100vw);
    border-radius: 50%;
  }
  #mainvisual .mvslide .slick-dots li.slick-active {
      background: rgba(255,255,255,1);
  }
  #mainvisual .slick-dots li button:before{
    content: ''!important;
    height:100%!important;
    width: 100%!important;
  }
  #mainvisual .slick-dots {
      display: flex;
      justify-content: center;
      bottom: calc(70 / 750 * 100vw)!important;
  }

  .mv__btn {
    position: absolute;
    bottom: 18vw;
    right: 4vw;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .mv__btn li {
    max-width: 188px;
    /* width: 40vw; */
    width: 32vw;
  }


  /* footer
  ---------------------------------------------------------------------- */
  footer {
    background-color: #6D4D3B;
  }

  .footer__wrap * {
    color: #fff;
  }
  .footer__img {
    width: 100%;
  }
  .footer__img img {
    width: 100%;
    height: auto;
  }
  .footer__content {
    position: relative;
  }
  .footer__contentInr {
    width: 82vw;
    margin: 0 auto;
    padding: 50px 0;
  }
  .footer__logo {
    width: 155px;
    margin-bottom: 35px;
  }
  .footer__address {
    line-height: 1.8;
    text-align: left;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #BEBEBE;
  }
  .footer__navWrap {
    margin-bottom: 40px;
    display: flex;
    font-size: 14px;
  }
  .footer__navWrap > ul{
    margin-right: 10%;
    flex: 0 0 auto;
  }
  .footer__navWrap > ul > li{
    margin-bottom: 8px;
  }
  .footer__navMain {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
  }
  .footer__navWrap .footer__navMain ul {
    margin-right: 14%;
    flex: 0 0 auto;
  }
  .footer__navWrap .footer__navMain ul li{
    margin-bottom: 8px;
  }
  .footer__navSub li {
    font-size: 15px;
  }
  .footer__navSub li::before {
    content: "・";
  }
  .footer__wrap .sns {
    text-align: right;
  }
  .footer__wrap .sns a{
    width: 27px;
    display: inline-block;
  }
  .footer__wrap .sns a + a {
    margin-left: 15px;
  }
  .copyright {
    background-color: #fff;
    font-size: 10px;
    padding: 20px;
    text-align: center;
  }
  .copyright .w1300 {
    text-align: right;
  }

  /* pagetop
  ---------------------------------------------------------------------- */
  #page-top {
    width: 15%;
    position: fixed;
    right: calc(40/ 750 * 100vw);
    bottom: calc(40 / 750 * 100vw);
    z-index: 100;
    display: none;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  #page-top.scroll {
    display: block;
  }

  #page-top.stop {
    position: absolute;
    top: -20px;
    bottom: initial;
  }

  .open #page-top {
    z-index: 0;
  }


  /* title
---------------------------------------------------------------------- */
  .ctitle {
    color: #A6585D;
    font-size:clamp(13px,9vw,45px);
    line-height: 1.4;
    letter-spacing: 0.1em;
    font-weight: 400;
    font-family: YuMincho, "Yu Mincho", 游明朝体, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", 'Noto Serif JP', "ＭＳ 明朝", "MS Mincho";
  }
  .ctitle span {
    display: block;
    font-weight: 300;
    color: #A6585D;
    font-size:clamp(16px,4.2vw,24px);
    letter-spacing: 0.52em;
    font-family: 'Noto Sans JP', "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, sans-serif;
  }
  .ctitle2 {
    font-size:clamp(16px,3.4vw,24px);
    line-height: 1.66667;
    letter-spacing: 0.15em;
    font-weight: 500;
    font-family: YuMincho, "Yu Mincho", 游明朝体, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", 'Noto Serif JP', "ＭＳ 明朝", "MS Mincho";
  }

  /* btn
---------------------------------------------------------------------- */
  .cbtn {
    display: inline-block;
    padding:calc( 15 / 750 * 100vw) calc( 80 / 750 * 100vw) calc( 15 / 750 * 100vw) calc( 40 / 750 * 100vw);
    background-color: #A6585D;
    border: 1px solid #A6585D;
    color: #fff;
    font-size: max(13px,2vw);
    letter-spacing: 0.2em;
    position: relative;
    cursor: pointer;
    font-family: YuMincho, "Yu Mincho", 游明朝体, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", 'Noto Serif JP', "ＭＳ 明朝", "MS Mincho";
  }

  .cbtn::after {
    content: "";
    display: block;
    width: 20px;
    height: 5px;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    background: url(../images/arrow01.svg) no-repeat;
    transition: all 0.3s;
  }

  .cbtn:hover:after {
    right: 3%;
  }

  .cbtn.--flex > span {
    display: flex;
    flex-wrap: wrap;
  }
  .cbtn.--sizeM {
    min-width: 300px;
  }

  .cbtn.--center {
    padding:calc( 15 / 750 * 100vw) calc( 100 / 750 * 100vw) calc( 15 / 750 * 100vw) calc( 70 / 750 * 100vw);
  }

  /* common
  ---------------------------------------------------------------------- */
  .mainw,
  .w1300,
  .w1280,
  .w1100,
  .w1000,
  .w900,
  .w920,
  .w800,
  .w700 {
    width: 90vw;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .w950 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .w620 {
    width: calc(620 / 750 * 100vw);
    margin-right: auto;
    margin-left: auto;
  }

  .w560 {
    width: calc(560 / 750 * 100vw);
    margin-right: auto;
    margin-left: auto;
  }

  .anchor {
    margin-top: -20vw;
    padding-top: 20vw;
  }
  

}

@media only screen and (min-width: 1024px){
  
.fnav__wrap a{
  color: #000 !important;
}
input,
select {
font-family: 'Poppins', sans-serif;
}
/*out date*/
.modal-wrapper {
  position: relative;
  border-bottom: 1px solid #666;
  text-align: left;
  padding-bottom: 0.5em;
}

.outer_date {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.outer_date{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 40px;
}
.close span:nth-of-type(1), .close span:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close span:nth-of-type(2), .close span:nth-of-type(2) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.close span, .close span {
  position: absolute;
  height: 1px;
  width: 50px;
  display: block;
  background-color: #464646;
  margin: auto;
  pointer-events: none;
  top: 25px;
}
/*new class*/
.text-h3hotel{
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-size: 300%;
  text-transform: uppercase;
  letter-spacing: .1em;
  text-align: center;
}
.modal-body {
  border-radius: 2em!important;
  background-color: #fff!important;
  margin-top: 16px!important;
  position: relative;
  padding: 15px;
}
.modal-body {
  padding: 80px !important;
}
.text-right04{
  margin-right: 25px;
}
.field-button{
  text-align: center;
}
.btn_more{
  margin-top: 50px;
}
.field-button input{
  background: #bda67c;
  display: block;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.35s ease-in-out 0.35s;
  transition: all 0.35s ease-in-out 0.35s;
  /* width: 100%; */
  margin: 0 auto;
  color: #fff;
  border: 0;
  padding: 1em;
}
.c-btn-input {
  position: relative;
}
.c-btn-input::before {
  content: "\e8b6";
  font-size: 32px;
  font-family: 'Material Icons';
  color: #fff;
  line-height: 1;
  position: absolute;
  pointer-events: none;
  top: calc(50% - 16px);
  left: 1em;
}
.c-box-other {
  margin: 3em 0 3em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.c-btn-input .c-btn-large {
  padding: 0.75em 2em 0.75em 3.25em;
}

.c-btn-theme {
  background: rgba(107,164,184,1) !important;
}
.c-btn {
  font-family: 'Noto Sans JP',sans-serif;
}
.u-boxshadow {
  -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}
.c-btn-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.c-btn-large {
  padding: 0.75em 2em;
  font-size: 22px;
}
.c-btn-theme {
  color: #fff !important;
  background: #2dafb9 !important;
}
.c-btn {
  padding: 0.4em 2em;
  font-size: 14px;
  font-family: 'Noto Sans JP',sans-serif;
  color: #333;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  background: #eee;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.text-right02{
  font-size: 20px;
  text-align: left;
  color: #464646;
  /* font-size: 22px; */
  padding: 0 0px !important;
}
.text-calada{
/*    font-size: 1.5rem;*/
  font-weight: 400;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 1px solid #666;
  padding-bottom: 0.5em;
  position: relative;
}
.modal-content {
  position: relative;
  background-color: #fff!important;
  border: 1px solid #fff !important;
}
.modal-content {
  -webkit-box-shadow: 0 0px 0px #fff !important;
  box-shadow: 0 0px 0px #fff !important;
}
.modal-dialog {
  position: relative!important;
  display: inline-block!important;
  width: 100%!important;
  margin: auto!important;
  text-align: left!important;
  color: #000;
  max-width: 1000px !important;
  border-radius: 0;
  background: #e8e8e8;
  box-shadow: 0 4px 15px rgba(0,0,0,.2);
  cursor: auto;
  max-width: 1280px!important;
  margin: auto;
  width: 100%!important;
}
.modaal-inner-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  vertical-align: middle;
  text-align: center;
  padding: 80px 25px;
}
.modaal-container {
  max-width: 1280px;
  margin: auto;
  width: 95%;
}
.modaal-container {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: auto;
  text-align: left;
  color: #000;
  max-width: 1000px;
  border-radius: 0;

  cursor: auto;
}
.modal {
overflow: inherit;
overflow-y: inherit;
text-align: center;
padding: 0;
}

.modal:before {
content: '';
display: inline-block;
height: 100%;
vertical-align: middle;
margin-right: -4px;
}

.modal-dialog {
max-width: 500px;
padding: 0;
display: inline-block;
text-align: left;
vertical-align: middle;
}

.modal-content {

border: 0;
border-radius: 0;

}

.modal-header {
border: 0;
padding: 0;
position: relative;
}

.modal-header .close {
  margin: 0;
  /* position: absolute; */
  top: -10px;
  right: -10px;
  width: 40px;
  height: 40px;
  /* border-radius: 23px; */
  /* background-color: #00aeef; */
  color: #ffe300;
  font-size: 0px;
  opacity: 1;

}

.modal-content p {
padding: 0 20px;
}

.modal-body {
padding: 0 0 10px 0;
}

.top_asinban {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 100;
  list-style: none;
  padding: 0;
  text-align: center;
}
.top_asinban li {
  line-height: 2.5;
  float: left;
  width: calc(100% / 3);
  height: 40px;
  border-left: 1px solid #D9CCBF;
  position: relative;
  box-sizing: border-box;
}
.img-room img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.booking-top{
  display: block;
  background-color: #F1EDE8 !important;
  border-bottom: 1px solid #D9CCBF !important;
  padding: 0px;
  margin: 0px;
}
.text-asibanh3{
line-height: 1.5;
font-size: 1.1rem;
}
/* -----------------------------------------------------------
.room_concept
----------------------------------------------------------- */
.wellcome{
background-color: #F5F3ED;
}
.index01{
   position: relative;
   min-height: 100%;
   background-size: cover;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center center;
   z-index: 2;
   background-image: url(../img/banna_slide.jpg);
   padding: 130px 0 170px 0;
   margin-bottom: 0px;
}

.box_txt {
  text-align: start;
  align-items: center;
   background: url(../images/home/deco_logo.png) 5% 95% no-repeat;
   background-size: 50% auto;
   height: 100%;
   padding: 7% 3% 10%;
}
.slideIn-border.inview-in:before {
   opacity: 1;
   -webkit-animation-duration: 1.5s;
   animation-duration: 1.5s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
   -webkit-animation-name: slideInBorderPc;
   animation-name: slideInBorderPc;
   -webkit-transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
   transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

.base_txt_layout .tl_basic:before {
   content: "";
   background: #010101;
   width: 22%;
   height: 1px;
   position: absolute;
   top: 50%;
   right: 100%;
   max-width: 150px;
}
.box_img {
   width: 60%;
   -webkit-box-ordinal-group: 3;
   -ms-flex-order: 2;
   order: 2;
}
.base_txt_layout .tl_basic {
   font-family: "游明朝", YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
   font-size: 300%;
   font-weight: normal;
   color: #010101;
   letter-spacing: .2em;
   position: relative;
}
.base_txt_layout .tl_basic:before {
   content: "";
   background: #010101;
   width: 22%;
   height: 1px;
   position: absolute;
   top: 50%;
   right: 100%;
   max-width: 150px;
}
.room_concept {
height: 500px;
 margin: 30px auto;
 overflow: hidden;
 position: relative;
 display: flex;
}
.room_concept img{
width: 100%;
height: 100%;
}
.room_concept .room_box_concept {
   width: 40%;
   -webkit-box-ordinal-group: 2;
   -ms-flex-order: 1;
   order: 1;
}
.box_txt .wrp {
  position: relative;
  left: 8%;
  text-align: start;
  align-items: center;
  margin: auto;
}
.room_concept .room_box_concept:before {
content: "";
background: #eff6f8;
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
z-index: -1;
}
li {
list-style: none;
}
p {
  font-size: 18px!important;
  margin: 0 0 10px;
}
p {
-ms-text-justify: auto;
text-justify: auto;
text-justify: inter-ideograph;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
font-weight: normal;
}

img {
vertical-align: bottom;
max-width: 100%;
}
.noborder {
border: none !important;
}
.nomargin {
margin: 0 0 !important;
}
.ta_r {
text-align: right;
}
.ta_c {
text-align: center;
}
.ta_l {
text-align: left;
}
.cf:before,
.cf:after {
content: "";
display: table;
}
.cf:after {
clear: both;
}
.cf {
zoom: 1;
}
.yuMincho {
font-family: YuMincho, "Yu Mincho", 游明朝体, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", 'Noto Serif JP', "ＭＳ 明朝", "MS Mincho";
}
a {
color: unset;
text-decoration: none;
}
#contents {
overflow: hidden;
}
a {
-webkit-transition: 0.3s ease-in-out;
-moz-transition: 0.3s ease-in-out;
-o-transition: 0.3s ease-in-out;
transition: 0.3s ease-in-out;
}
img {
-webkit-transition: 0.3s ease-in-out;
-moz-transition: 0.3s ease-in-out;
-o-transition: 0.3s ease-in-out;
transition: 0.3s ease-in-out;
}
a:active,
a:hover,
a:hover img {
opacity: 0.8;
}
.img_hidden {
opacity: 0;
transition: 1s;
}
.img_open {
--moz-animation: imgfade 1s linear 0s 1 normal forwards;
--webkit-animation: imgfade 1s linear 0s 1 normal forwards;
--o-animation: imgfade 1s linear 0s 1 normal forwards;
--ms-animation: imgfade 1s linear 0s 1 normal forwards;
}
.img_open.ih2 {
--moz-animation: imgfade 1s linear 0.3s 1 normal forwards;
--webkit-animation: imgfade 1s linear 0.3s 1 normal forwards;
--o-animation: imgfade 1s linear 0.3s 1 normal forwards;
--ms-animation: imgfade 1s linear 0.3s 1 normal forwards;
}
.img_open.ih3 {
--moz-animation: imgfade 1s linear 0.6s 1 normal forwards;
--webkit-animation: imgfade 1s linear 0.6s 1 normal forwards;
--o-animation: imgfade 1s linear 0.6s 1 normal forwards;
--ms-animation: imgfade 1s linear 0.6s 1 normal forwards;
}
.img_open.ih4 {
--moz-animation: imgfade 1s linear 0.9s 1 normal forwards;
--webkit-animation: imgfade 1s linear 0.9s 1 normal forwards;
--o-animation: imgfade 1s linear 0.9s 1 normal forwards;
--ms-animation: imgfade 1s linear 0.9s 1 normal forwards;
}
.img_open.ih5 {
--moz-animation: imgfade 1s linear 1.2s 1 normal forwards;
--webkit-animation: imgfade 1s linear 1.2s 1 normal forwards;
--o-animation: imgfade 1s linear 1.2s 1 normal forwards;
--ms-animation: imgfade 1s linear 1.2s 1 normal forwards;
}
.showup {
/*    opacity: 0;*/
transition: 1s;
transform: translateY(20px);
-webkit-transform: translateY(20px);
-moz-transform: translateY(20px);
-ms-transform: translateY(20px);
-o-transform: translateY(20px);
}
.showup img{
width: 100%;
}
.upview {
--moz-animation: showup 0.6s linear 0s 1 normal forwards;
--webkit-animation: showup 0.6s linear 0s 1 normal forwards;
--o-animation: showup 0.6s linear 0s 1 normal forwards;
--ms-animation: showup 0.6s linear 0s 1 normal forwards;
}
.upview.uv2 {
--moz-animation: showup 0.6s linear 0.3s 1 normal forwards;
--webkit-animation: showup 0.6s linear 0.3s 1 normal forwards;
--o-animation: showup 0.6s linear 0.3s 1 normal forwards;
--ms-animation: showup 0.6s linear 0.3s 1 normal forwards;
}
.upview.uv3 {
--moz-animation: showup 0.6s linear 0.6s 1 normal forwards;
--webkit-animation: showup 0.6s linear 0.6s 1 normal forwards;
--o-animation: showup 0.6s linear 0.6s 1 normal forwards;
--ms-animation: showup 0.6s linear 0.6s 1 normal forwards;
}
.upview.uv4 {
--moz-animation: showup 0.6s linear 0.9s 1 normal forwards;
--webkit-animation: showup 0.6s linear 0.9s 1 normal forwards;
--o-animation: showup 0.6s linear 0.9s 1 normal forwards;
--ms-animation: showup 0.6s linear 0.9s 1 normal forwards;
}
.upview.uv5 {
--moz-animation: showup 0.6s linear 1.2s 1 normal forwards;
--webkit-animation: showup 0.6s linear 1.2s 1 normal forwards;
--o-animation: showup 0.6s linear 1.2s 1 normal forwards;
--ms-animation: showup 0.6s linear 1.2s 1 normal forwards;
}
.showdown {
opacity: 0;
transition: 1s;
transform: translateY(-20px);
-webkit-transform: translateY(-20px);
-moz-transform: translateY(-20px);
-ms-transform: translateY(-20px);
-o-transform: translateY(-20px);
}
.downview {
--moz-animation: showdown 0.6s linear 0s 1 normal forwards;
--webkit-animation: showdown 0.6s linear 0s 1 normal forwards;
--o-animation: showdown 0.6s linear 0s 1 normal forwards;
--ms-animation: showdown 0.6s linear 0s 1 normal forwards;
}
.downview.dv2 {
--moz-animation: showdown 0.6s linear 0.3s 1 normal forwards;
--webkit-animation: showdown 0.6s linear 0.3s 1 normal forwards;
--o-animation: showdown 0.6s linear 0.3s 1 normal forwards;
--ms-animation: showdown 0.6s linear 0.3s 1 normal forwards;
}
.downview.dv3 {
--moz-animation: showdown 0.6s linear 0.6s 1 normal forwards;
--webkit-animation: showdown 0.6s linear 0.6s 1 normal forwards;
--o-animation: showdown 0.6s linear 0.6s 1 normal forwards;
--ms-animation: showdown 0.6s linear 0.6s 1 normal forwards;
}
.downview.dv4 {
--moz-animation: showdown 0.6s linear 0.9s 1 normal forwards;
--webkit-animation: showdown 0.6s linear 0.9s 1 normal forwards;
--o-animation: showdown 0.6s linear 0.9s 1 normal forwards;
--ms-animation: showdown 0.6s linear 0.9s 1 normal forwards;
}
.showleft {
/*    opacity: 0;*/
transition: 1s;
transform: translateX(-20px);
-webkit-transform: translateX(-20px);
-moz-transform: translateX(-20px);
-ms-transform: translateX(-20px);
-o-transform: translateX(-20px);
}
.leftview {
--moz-animation: showleft 1s linear 0s 1 normal forwards;
--webkit-animation: showleft 1s linear 0s 1 normal forwards;
--o-animation: showleft 1s linear 0s 1 normal forwards;
--ms-animation: showleft 1s linear 0s 1 normal forwards;
}
.showright {
/*    opacity: 0;*/
transition: 1s;
transform: translateX(20px);
-webkit-transform: translateX(20px);
-moz-transform: translateX(20px);
-ms-transform: translateX(20px);
-o-transform: translateX(20px);
}
.rightview {
--moz-animation: showright 1s linear 0s 1 normal forwards;
--webkit-animation: showright 1s linear 0s 1 normal forwards;
--o-animation: showright 1s linear 0s 1 normal forwards;
--ms-animation: showright 1s linear 0s 1 normal forwards;
}
.for_sp {
display: none !important;
}
.for_tab {
display: none !important;
}
.for_nw {
display: none !important;
}
.tab .for_pcnotab {
display: none !important;
}
.tab .for_tab {
display: inline !important;
}
.wrap,
#page {
width: 100%;
overflow: hidden;
position: relative;
}
/* header
---------------------------------------------------------------------- */
#mainheader {
width: 100%;
position: fixed;
top: 0;
left: 0;
z-index: 1000;
transition: all 0.3s ease;
background-color: rgba(255, 255, 255, 0.75);
-moz-box-shadow: 0px 13px 10px -12px rgba(161, 161, 161, 0.1);
-webkit-box-shadow: 0px 13px 10px -12px rgba(161, 161, 161, 0.1);
-ms-box-shadow: 0px 13px 10px -12px rgba(161, 161, 161, 0.1);
box-shadow: 0px 13px 10px -12px rgba(161, 161, 161, 0.1);
font-family: YuMincho, "Yu Mincho", 游明朝体, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", 'Noto Serif JP', "ＭＳ 明朝", "MS Mincho";
}
#mainheader .mainheader__inr {
display: flex;
min-height: 100px;
max-width: 1920px;
justify-content: space-between;
margin-right: auto;
margin-left: auto;
transition: all 0.8s;
}
#mainheader.scroll .mainheader__inr {
min-height: 80px;
}

.logo img {
  width: 37%;
  transition: width 0.3s ease-in-out;
}
#mainheader.scroll .logo img {
  width: 30%;
}
#mainheader .logo {
min-width: 115px;
position: relative;
margin: 10px 1% 10px 2.4%;
display: flex;
align-items: center;
justify-content: center;
transition: all 0.8s;
}

#mainheader.scroll .logo {
margin: 5px 1% 5px 2.4%;
}

#mainheader .logo a {
display: block;
transition: width 0.8s;
margin: 0 auto;
text-align: center;
}

#mainheader .fnav {
display: flex;
flex: 1;
}

#mainheader .fnav__wrap {
display: flex;
flex-wrap: wrap;
justify-content: flex-end;
flex: 1;
}

  #mainheader .fnav .copy {
    width: 100%;
    font-size: 12px;
    padding-top: 10px;
  }

  #mainheader .fnav__wrap>ul {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    font-size: 1.3rem;
    width: 100%;
    
  }

  #mainheader .fnav__wrap>ul>li {
    margin: 0 min(1.2vw, 35px) 0 0;
/*    margin: 0 min(2vw, 35px) 0 0;*/
    position: relative;
  }
  #mainheader .fnav__wrap>ul>li a {
    position: relative;
    display: inline-block;
    line-height: 1.3;
    letter-spacing: 0;
    text-decoration: none;
  }
  

  #mainheader .fnav .fnav__childMenu {
    position: absolute;
    top: 40px;
    left: 50%;
    padding: 10px 40px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.5);
    transition: all .2s ease;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    width: 350px;
  }

  #mainheader .fnav__wrap>ul>li:hover .fnav__childMenu {
    top: 50px;
    visibility: visible;
    opacity: 1;
  }

  #mainheader.scroll .fnav__wrap>ul>li:hover .fnav__childMenu {
    top: 42px;
  }

  #mainheader .btn_rsv {
    border-radius: 0px!important;
    display: block;
    width: 20%;
    font-size: 20px;
    max-width: 350px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #972a47 !important;
    color: #fff;
    line-height: 1.2;
  }

  #mainheader .btn_rsv::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: url(../img/icon-booking.svg) no-repeat;
    background-size: contain;
  }

  #mainheader .spnav {
    display: none;
  }

  /* mainvisual 
  ---------------------------------------------------------------------- */
  #mainvisual {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 0;
  }

  #mainvisual .mvslide {
    width: 100%;
    height: 100%;
  }

  #mainvisual .slick-slider .slick-track,
  #mainvisual .slick-slider .slick-list {
    height: 100%;
  }

  #mainvisual .mvslide .slick-slide {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
  }

  #mainvisual .mvslide .slick-track {
    height: 100%;
  }

  #mainvisual .mvslide .slick-slide>div {
    height: 100%;
  }

  #mainvisual .mvslide .slick-slide>div>li {
    height: 100%;
  }

  #mainvisual picture {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  #mainvisual picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #mainvisual .catch {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  #mainvisual.sub .catch {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    transform: none;
  }

  #mainvisual.sub .catch img {
    max-width: 700px;
  }

  #mainvisual .slick-dots {
    width: 1px;
    position: absolute;
    right: 40px !important;
    bottom: 50% !important;
  }
  #mainvisual .mvslide .slick-dots li {
      display: block !important;
      width: 1px;
      height: 28px;
      background: rgba(255,255,255,.5);
  }
  #mainvisual .mvslide .slick-dots li.slick-active {
      background: rgba(255,255,255,1);
  }
  #mainvisual .slick-dots li button:before{
    content: ''!important;
    height:100%!important;
    width: 100%!important;
  }

  #mainvisual .scroll {
    width: 85px;
    position: absolute;
    right: 0;
    bottom: 50px;
    z-index: 10;
  }

  /* 丸の描写 */
  #mainvisual .scroll::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 42px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff;
    animation:
      circlemove 1.6s ease-in-out infinite,
      cirlemovehide 1.6s ease-out infinite;
  }

  @keyframes circlemove {
    0% {
      bottom: 20px;
    }

    100% {
      bottom: -20px;
    }
  }

  @keyframes cirlemovehide {
    0% {
      opacity: 0
    }

    50% {
      opacity: 1;
    }

    80% {
      opacity: 0.9;
    }

    100% {
      opacity: 0;
    }
  }

  /* 線の描写 */
  #mainvisual .scroll:after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: 43px;
    width: 1px;
    height: 40px;
    background: #fff;
  }

  .mv__btn {
    position: absolute;
    bottom: 50px;
    right: 8%;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .mv__btn li {
    max-width: 188px;
  }

  /* footer
  ---------------------------------------------------------------------- */
  footer {
    background-color: #6D4D3B;
  }

  .footer__wrap {
    display: flex;
  }

  .footer__wrap * {
    color: #fff;
  }
  .footer__img {
    width: 34%;
  }
  .footer__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .footer__content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 1;
  }
  .footer__contentInr {
    padding: 70px 5% 55px 2%;
    max-width: 780px;
    width: 85%;
  }
  .footer__logo {
    width: 155px;
    margin-bottom: 35px;
  }
  .footer__address {
    line-height: 1.8;
    text-align: left;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #BEBEBE;
  }
  .footer__navWrap {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
  }
  .footer__navWrap > ul{
    margin-right: 14%;
    flex: 0 0 auto;
  }
  .footer__navWrap > ul > li{
    margin-bottom: 8px;
  }
  .footer__navMain {
    display: flex;
    flex: 1;
  }
  .footer__navWrap .footer__navMain ul {
    margin-right: 14%;
    flex: 0 0 auto;
  }
  .footer__navWrap .footer__navMain ul li{
    margin-bottom: 8px;
  }
  .footer__navSub li {
    font-size: 15px;
  }
  .footer__navSub li::before {
    content: "・";
  }
  .footer__wrap .sns {
    text-align: right;
  }
  .footer__wrap .sns a{
    width: 27px;
    display: inline-block;
  }
  .footer__wrap .sns a + a {
    margin-left: 15px;
  }
  .copyright {
    background-color: #fff;
    font-size: 14px;
    padding: 20px;
    text-align: right;
  }
  .copyright .w1300 {
    text-align: right;
  }

  /* pagetop
  ---------------------------------------------------------------------- */
  #page-top {
    width: 65px;
    position: fixed;
    bottom: 10px;
    right: 35px;
    z-index: 10;
    transition: all 0.3s ease;
    cursor: pointer;
    display: none;
  }

  #page-top:hover {
    opacity: 0.8;
  }

  #page-top.stop {
    position: absolute;
    top: -20px;
    bottom: initial;
  }
  /* title
---------------------------------------------------------------------- */
  .ctitle {
    color: #972a47;
    font-size: 4.5rem;
    line-height: 1.4;
    letter-spacing: 0.1em;
    font-weight: 400;
  }
  .ctitle span {
    display: block;
    font-weight: 300;
       color: #962b46;
    font-size: 2.4rem;
  }
  .ctitle.--row {
    display: flex;
    align-items: baseline;
  }
  .ctitle.--row span {
    display: inline-block;
    margin-left: 20px;
  }
  .ctitle2 {
    font-size: 2.4rem;
    line-height: 1.66667;
    font-weight: 500;
    letter-spacing: 0.15em;
  }

  /* btn
---------------------------------------------------------------------- */
  .cbtn {
     display: inline-block;
    padding: 8px 36px 8px 36px;
    background-color: #972a47;
    border: 2px solid #ac586d;
    color: #fff;
    font-size: 1.3rem;
    letter-spacing: 0.2em;
    position: relative;
    cursor: pointer;
  }

  .cbtn::after {
    content: "";
    display: block;
    width: 20px;
    height: 5px;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    background: url(../images/arrow01.svg) no-repeat;
    transition: all 0.3s;
  }

  .cbtn:hover:after {
    right: 6%;
  }

  .cbtn.--sizeL {
    min-width: 370px;
  }

  .cbtn.--sizeM {
    min-width: 300px;
  }

  .cbtn.--center {
    padding: 15px 100px 15px 70px;
  }

  @-moz-keyframes imgfade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes imgfade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-o-keyframes imgfade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-ms-keyframes imgfade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes showup {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @-webkit-keyframes showup {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @-o-keyframes showup {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @-ms-keyframes showup {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @-moz-keyframes showdown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @-webkit-keyframes showdown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @-o-keyframes showdown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @-ms-keyframes showdown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @-moz-keyframes showleft {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @-webkit-keyframes showleft {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @-o-keyframes showleft {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @-ms-keyframes showleft {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @-moz-keyframes showright {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @-webkit-keyframes showright {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @-o-keyframes showright {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @-ms-keyframes showright {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}