@charset "UTF-8";

/*scss Document */
html,
body {
  width: 100%;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  position: relative;
  color: #282828;
  background-color: #fff;
  font-size: 1.6rem;
  letter-spacing: 0.025em;
  line-height: 2.1;
  margin: 0 auto;
  font-family: 'Noto Sans JP', "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, sans-serif;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

input,
select {
  font-family: 'Poppins', sans-serif;
}

.mb0 {
  margin-bottom: 0 !important;
}

@media (min-width: 1001px) {
  .mb5 {
    margin-bottom: 5px !important;
  }
}

@media (max-width: 1000px) {
  .mb5 {
    margin-bottom: 0.6vw !important;
  }
}

@media (min-width: 1001px) {
  .mb10 {
    margin-bottom: 10px !important;
  }
}

@media (max-width: 1000px) {
  .mb10 {
    margin-bottom: 1.3vw !important;
  }
}

@media (min-width: 1001px) {
  .mb15 {
    margin-bottom: 15px !important;
  }
}

@media (max-width: 1000px) {
  .mb15 {
    margin-bottom: 2vw !important;
  }
}

@media (min-width: 1001px) {
  .mb20 {
    margin-bottom: 20px !important;
  }
}

@media (max-width: 1000px) {
  .mb20 {
    margin-bottom: 2.6vw !important;
  }
}

@media (min-width: 1001px) {
  .mb25 {
    margin-bottom: 25px !important;
  }
}

@media (max-width: 1000px) {
  .mb25 {
    margin-bottom: 3.3vw !important;
  }
}

@media (min-width: 1001px) {
  .mb30 {
    margin-bottom: 30px !important;
  }
}

@media (max-width: 1000px) {
  .mb30 {
    margin-bottom: 3.3vw !important;
  }
}

@media (min-width: 1001px) {
  .mb40 {
    margin-bottom: 40px !important;
  }
}

@media (max-width: 1000px) {
  .mb40 {
    margin-bottom: 5.3vw !important;
  }
}

@media (min-width: 1001px) {
  .mb50 {
    margin-bottom: 50px !important;
  }
}

@media (max-width: 1000px) {
  .mb50 {
    margin-bottom: 6.6vw !important;
  }
}

@media (min-width: 1001px) {
  .mb60 {
    margin-bottom: 60px !important;
  }
}

@media (max-width: 1000px) {
  .mb60 {
    margin-bottom: 8vw !important;
  }
}

@media (min-width: 1001px) {
  .mb70 {
    margin-bottom: 70px !important;
  }
}

@media (max-width: 1000px) {
  .mb70 {
    margin-bottom: 9.3vw !important;
  }
}

@media (min-width: 1001px) {
  .mb80 {
    margin-bottom: 80px !important;
  }
}

@media (max-width: 1000px) {
  .mb80 {
    margin-bottom: 10.6vw !important;
  }
}

@media (min-width: 1001px) {
  .mb90 {
    margin-bottom: 90px !important;
  }
}

@media (max-width: 1000px) {
  .mb90 {
    margin-bottom: 12vw !important;
  }
}

@media (min-width: 1001px) {
  .mb100 {
    margin-bottom: 100px !important;
  }
}

@media (max-width: 1000px) {
  .mb100 {
    margin-bottom: 13.3vw !important;
  }
}

@media (min-width: 1001px) {
  .mb110 {
    margin-bottom: 110px !important;
  }
}

@media (max-width: 1000px) {
  .mb110 {
    margin-bottom: 14.6vw !important;
  }
}

@media (min-width: 1001px) {
  .mb120 {
    margin-bottom: 120px !important;
  }
}

@media (max-width: 1000px) {
  .mb120 {
    margin-bottom: 16vw !important;
  }
}

@media (min-width: 1001px) {
  .mb130 {
    margin-bottom: 130px !important;
  }
}

@media (max-width: 1000px) {
  .mb130 {
    margin-bottom: 17.3vw !important;
  }
}

@media (min-width: 1001px) {
  .mb140 {
    margin-bottom: 140px !important;
  }
}

@media (max-width: 1000px) {
  .mb140 {
    margin-bottom: 18.6vw !important;
  }
}

@media (min-width: 1001px) {
  .mb150 {
    margin-bottom: 150px !important;
  }
}

@media (max-width: 1000px) {
  .mb150 {
    margin-bottom: 20vw !important;
  }
}

.pb0 {
  padding-bottom: 0 !important;
}

@media (min-width: 1001px) {
  .pb10 {
    padding-bottom: 10px !important;
  }
}

@media (max-width: 1000px) {
  .pb10 {
    padding-bottom: 1.3vw !important;
  }
}

@media (min-width: 1001px) {
  .p15 {
    padding: 0 15px !important;
  }
}

@media (max-width: 1000px) {
  .p15 {
    padding: 0 2vw !important;
  }
}

@media (min-width: 1001px) {
  .pt10 {
    padding-top: 10px !important;
  }
}

@media (max-width: 1000px) {
  .pt10 {
    padding-top: 1.3vw !important;
  }
}

@media (min-width: 1001px) {
  .pt15 {
    padding-top: 15px !important;
  }
}

@media (max-width: 1000px) {
  .pt15 {
    padding-top: 2vw !important;
  }
}

@media (min-width: 1001px) {
  .pt20 {
    padding-top: 20px !important;
  }
}

@media (max-width: 1000px) {
  .pt20 {
    padding-top: 2.6vw !important;
  }
}

@media (min-width: 1001px) {
  .pt30 {
    padding-top: 30px !important;
  }
}

@media (max-width: 1000px) {
  .pt30 {
    padding-top: 3.3vw !important;
  }
}

@media (min-width: 1001px) {
  .pt40 {
    padding-top: 40px !important;
  }
}

@media (max-width: 1000px) {
  .pt40 {
    padding-top: 5.3vw !important;
  }
}

@media (min-width: 1001px) {
  .ls-1 {
    letter-spacing: -1px;
  }
}

@media (min-width: 1001px) {
  .ls-2 {
    letter-spacing: -2px;
  }
}

@media (min-width: 1001px) {
  .ls-3 {
    letter-spacing: -3px;
  }
}

@media (min-width: 1001px) {
  .ls-4 {
    letter-spacing: -4px;
  }
}

@media (min-width: 1001px) {
  .fs10 {
    font-size: 10px;
  }
}

@media (min-width: 1001px) {
  .fs14 {
    font-size: 14px;
  }
}

@media (min-width: 1001px) {
  .fs15 {
    font-size: 15px;
  }
}

@media (min-width: 1001px) {
  .fs16 {
    font-size: 16px;
  }
}

@media (min-width: 1001px) {
  .fs24 {
    font-size: 24px;
  }
}

@media (min-width: 1001px) {
  .fs26 {
    font-size: 26px;
  }
}

.mb05em {
  margin-bottom: 0.5em !important;
}

.mb1em {
  margin-bottom: 1em !important;
}

.mb2em {
  margin-bottom: 2em !important;
}

.mb3em {
  margin-bottom: 3em !important;
}

.mb4em {
  margin-bottom: 4em !important;
}

.pb05em {
  padding-bottom: 0.5em !important;
}

.mr0 {
  margin-right: 0 !important;
}

li {
  list-style: none;
}

p {
  text-align: justify;
  -ms-text-justify: auto;
  text-justify: auto;
  text-justify: inter-ideograph;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: normal;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

.noborder {
  border: none !important;
}

.nomargin {
  margin: 0 0 !important;
}

.ta_r {
  text-align: right;
}

.ta_c {
  text-align: center;
}

.ta_l {
  text-align: left;
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

.yuMincho {
  font-family: YuMincho, "Yu Mincho", 游明朝体, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", 'Noto Serif JP', "ＭＳ 明朝", "MS Mincho";
}

a {
  color: unset;
  text-decoration: none;
}

/* ---------------------------------------------------------------------- */
@media (min-width: 1001px) {
  #contents {
    overflow: hidden;
  }
  a {
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  img {
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  a:active,
  a:hover,
  a:hover img {
    opacity: 0.8;
  }

  .img_hidden {
    opacity: 0;
    transition: 1s;
  }

  .img_open {
    -moz-animation: imgfade 1s linear 0s 1 normal forwards;
    -webkit-animation: imgfade 1s linear 0s 1 normal forwards;
    -o-animation: imgfade 1s linear 0s 1 normal forwards;
    -ms-animation: imgfade 1s linear 0s 1 normal forwards;
  }

  .img_open.ih2 {
    -moz-animation: imgfade 1s linear 0.3s 1 normal forwards;
    -webkit-animation: imgfade 1s linear 0.3s 1 normal forwards;
    -o-animation: imgfade 1s linear 0.3s 1 normal forwards;
    -ms-animation: imgfade 1s linear 0.3s 1 normal forwards;
  }

  .img_open.ih3 {
    -moz-animation: imgfade 1s linear 0.6s 1 normal forwards;
    -webkit-animation: imgfade 1s linear 0.6s 1 normal forwards;
    -o-animation: imgfade 1s linear 0.6s 1 normal forwards;
    -ms-animation: imgfade 1s linear 0.6s 1 normal forwards;
  }

  .img_open.ih4 {
    -moz-animation: imgfade 1s linear 0.9s 1 normal forwards;
    -webkit-animation: imgfade 1s linear 0.9s 1 normal forwards;
    -o-animation: imgfade 1s linear 0.9s 1 normal forwards;
    -ms-animation: imgfade 1s linear 0.9s 1 normal forwards;
  }

  .img_open.ih5 {
    -moz-animation: imgfade 1s linear 1.2s 1 normal forwards;
    -webkit-animation: imgfade 1s linear 1.2s 1 normal forwards;
    -o-animation: imgfade 1s linear 1.2s 1 normal forwards;
    -ms-animation: imgfade 1s linear 1.2s 1 normal forwards;
  }

  .showup {
    opacity: 0;
    transition: 1s;
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
  }

  .upview {
    -moz-animation: showup 0.6s linear 0s 1 normal forwards;
    -webkit-animation: showup 0.6s linear 0s 1 normal forwards;
    -o-animation: showup 0.6s linear 0s 1 normal forwards;
    -ms-animation: showup 0.6s linear 0s 1 normal forwards;
  }

  .upview.uv2 {
    -moz-animation: showup 0.6s linear 0.3s 1 normal forwards;
    -webkit-animation: showup 0.6s linear 0.3s 1 normal forwards;
    -o-animation: showup 0.6s linear 0.3s 1 normal forwards;
    -ms-animation: showup 0.6s linear 0.3s 1 normal forwards;
  }

  .upview.uv3 {
    -moz-animation: showup 0.6s linear 0.6s 1 normal forwards;
    -webkit-animation: showup 0.6s linear 0.6s 1 normal forwards;
    -o-animation: showup 0.6s linear 0.6s 1 normal forwards;
    -ms-animation: showup 0.6s linear 0.6s 1 normal forwards;
  }

  .upview.uv4 {
    -moz-animation: showup 0.6s linear 0.9s 1 normal forwards;
    -webkit-animation: showup 0.6s linear 0.9s 1 normal forwards;
    -o-animation: showup 0.6s linear 0.9s 1 normal forwards;
    -ms-animation: showup 0.6s linear 0.9s 1 normal forwards;
  }

  .upview.uv5 {
    -moz-animation: showup 0.6s linear 1.2s 1 normal forwards;
    -webkit-animation: showup 0.6s linear 1.2s 1 normal forwards;
    -o-animation: showup 0.6s linear 1.2s 1 normal forwards;
    -ms-animation: showup 0.6s linear 1.2s 1 normal forwards;
  }

  .showdown {
    opacity: 0;
    transition: 1s;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }

  .downview {
    -moz-animation: showdown 0.6s linear 0s 1 normal forwards;
    -webkit-animation: showdown 0.6s linear 0s 1 normal forwards;
    -o-animation: showdown 0.6s linear 0s 1 normal forwards;
    -ms-animation: showdown 0.6s linear 0s 1 normal forwards;
  }

  .downview.dv2 {
    -moz-animation: showdown 0.6s linear 0.3s 1 normal forwards;
    -webkit-animation: showdown 0.6s linear 0.3s 1 normal forwards;
    -o-animation: showdown 0.6s linear 0.3s 1 normal forwards;
    -ms-animation: showdown 0.6s linear 0.3s 1 normal forwards;
  }

  .downview.dv3 {
    -moz-animation: showdown 0.6s linear 0.6s 1 normal forwards;
    -webkit-animation: showdown 0.6s linear 0.6s 1 normal forwards;
    -o-animation: showdown 0.6s linear 0.6s 1 normal forwards;
    -ms-animation: showdown 0.6s linear 0.6s 1 normal forwards;
  }

  .downview.dv4 {
    -moz-animation: showdown 0.6s linear 0.9s 1 normal forwards;
    -webkit-animation: showdown 0.6s linear 0.9s 1 normal forwards;
    -o-animation: showdown 0.6s linear 0.9s 1 normal forwards;
    -ms-animation: showdown 0.6s linear 0.9s 1 normal forwards;
  }

  .showleft {
    opacity: 0;
    transition: 1s;
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
  }

  .leftview {
    -moz-animation: showleft 1s linear 0s 1 normal forwards;
    -webkit-animation: showleft 1s linear 0s 1 normal forwards;
    -o-animation: showleft 1s linear 0s 1 normal forwards;
    -ms-animation: showleft 1s linear 0s 1 normal forwards;
  }

  .showright {
    opacity: 0;
    transition: 1s;
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
  }

  .rightview {
    -moz-animation: showright 1s linear 0s 1 normal forwards;
    -webkit-animation: showright 1s linear 0s 1 normal forwards;
    -o-animation: showright 1s linear 0s 1 normal forwards;
    -ms-animation: showright 1s linear 0s 1 normal forwards;
  }

  .for_sp {
    display: none !important;
  }

  .for_tab {
    display: none !important;
  }

  .for_nw {
    display: none !important;
  }

  .tab .for_pcnotab {
    display: none !important;
  }

  .tab .for_tab {
    display: inline !important;
  }

  .wrap,
  #page {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  /* header
  ---------------------------------------------------------------------- */
  #mainheader {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all 0.3s ease;
    background-color: rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 13px 10px -12px rgba(161, 161, 161, 0.1);
    -webkit-box-shadow: 0px 13px 10px -12px rgba(161, 161, 161, 0.1);
    -ms-box-shadow: 0px 13px 10px -12px rgba(161, 161, 161, 0.1);
    box-shadow: 0px 13px 10px -12px rgba(161, 161, 161, 0.1);
    font-family: YuMincho, "Yu Mincho", 游明朝体, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", 'Noto Serif JP', "ＭＳ 明朝", "MS Mincho";
  }

  #mainheader .mainheader__inr {
    display: flex;
    min-height: 100px;
    max-width: 1920px;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    transition: all 0.8s;
  }

  #mainheader.scroll .mainheader__inr {
    min-height: 70px;
  }

  #mainheader .logo {
    min-width: 115px;
    position: relative;
    margin: 10px 1% 10px 2.4%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s;
  }

  #mainheader.scroll .logo {
    margin: 5px 1% 5px 2.4%;
  }

  #mainheader .logo a {
    display: block;
    transition: width 0.8s;
    margin: 0 auto;
    text-align: center;
  }

  #mainheader .fnav {
    display: flex;
    flex: 1;
  }

  #mainheader .fnav__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex: 1;
/*    padding-right: 5%;*/
  }

  @media (min-width: 1300px) {
    #mainheader .fnav__wrap {
/*      padding-right: 10%;*/
    }
  }

  #mainheader .fnav .copy {
    width: 100%;
    font-size: 12px;
    padding-top: 10px;
  }

  #mainheader .fnav__wrap>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 1.8rem;
    width: 100%;
  }

  #mainheader .fnav__wrap>ul>li {
    margin: 0 min(1.2vw, 35px) 0 0;
/*    margin: 0 min(2vw, 35px) 0 0;*/
    position: relative;
  }

  #mainheader .fnav__wrap>ul>li a {
    position: relative;
    display: inline-block;
    line-height: 1.3;
    letter-spacing: 0;
    text-decoration: none;
  }

  #mainheader .fnav .fnav__childMenu {
    position: absolute;
    top: 40px;
    left: 50%;
    padding: 10px 40px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.5);
    transition: all .2s ease;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    width: 350px;
  }

  #mainheader .fnav__wrap>ul>li:hover .fnav__childMenu {
    top: 50px;
    visibility: visible;
    opacity: 1;
  }

  #mainheader.scroll .fnav__wrap>ul>li:hover .fnav__childMenu {
    top: 42px;
  }

  #mainheader .btn_rsv {
    display: block;
    width: 20%;
    font-size: 20px;
    max-width: 350px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A6585D;
    color: #fff;
    line-height: 1.2;
  }

  #mainheader .btn_rsv::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: url(../images/icon_srch.svg) no-repeat;
    background-size: contain;
  }

  #mainheader .spnav {
    display: none;
  }

  /* mainvisual 
  ---------------------------------------------------------------------- */
  #mainvisual {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 0;
  }

  #mainvisual .mvslide {
    width: 100%;
    height: 100%;
  }

  #mainvisual .slick-slider .slick-track,
  #mainvisual .slick-slider .slick-list {
    height: 100%;
  }

  #mainvisual .mvslide .slick-slide {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
  }

  #mainvisual .mvslide .slick-track {
    height: 100%;
  }

  #mainvisual .mvslide .slick-slide>div {
    height: 100%;
  }

  #mainvisual .mvslide .slick-slide>div>li {
    height: 100%;
  }

  #mainvisual picture {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  #mainvisual picture img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #mainvisual .catch {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  #mainvisual.sub .catch {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    transform: none;
  }

  #mainvisual.sub .catch img {
    max-width: 700px;
  }

  #mainvisual .slick-dots {
    width: 1px;
    position: absolute;
    right: 40px !important;
    bottom: 50% !important;
  }
  #mainvisual .mvslide .slick-dots li {
      display: block !important;
      width: 1px;
      height: 28px;
      background: rgba(255,255,255,.5);
  }
  #mainvisual .mvslide .slick-dots li.slick-active {
      background: rgba(255,255,255,1);
  }
  #mainvisual .slick-dots li button:before{
    content: ''!important;
    height:100%!important;
    width: 100%!important;
  }

  #mainvisual .scroll {
    width: 85px;
    position: absolute;
    right: 0;
    bottom: 50px;
    z-index: 10;
  }

  /* 丸の描写 */
  #mainvisual .scroll::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 42px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff;
    animation:
      circlemove 1.6s ease-in-out infinite,
      cirlemovehide 1.6s ease-out infinite;
  }

  @keyframes circlemove {
    0% {
      bottom: 20px;
    }

    100% {
      bottom: -20px;
    }
  }

  @keyframes cirlemovehide {
    0% {
      opacity: 0
    }

    50% {
      opacity: 1;
    }

    80% {
      opacity: 0.9;
    }

    100% {
      opacity: 0;
    }
  }

  /* 線の描写 */
  #mainvisual .scroll:after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: 43px;
    width: 1px;
    height: 40px;
    background: #fff;
  }

  .mv__btn {
    position: absolute;
    bottom: 50px;
    right: 8%;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .mv__btn li {
    max-width: 188px;
  }

  /* footer
  ---------------------------------------------------------------------- */
  footer {
    background-color: #6D4D3B;
  }

  .footer__wrap {
    display: flex;
  }

  .footer__wrap * {
    color: #fff;
  }
  .footer__img {
    width: 34%;
  }
  .footer__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .footer__content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 1;
  }
  .footer__contentInr {
    padding: 70px 5% 55px 2%;
    max-width: 780px;
    width: 85%;
  }
  .footer__logo {
    width: 155px;
    margin-bottom: 35px;
  }
  .footer__address {
    line-height: 1.8;
    text-align: left;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #BEBEBE;
  }
  .footer__navWrap {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
  }
  .footer__navWrap > ul{
    margin-right: 14%;
    flex: 0 0 auto;
  }
  .footer__navWrap > ul > li{
    margin-bottom: 8px;
  }
  .footer__navMain {
    display: flex;
    flex: 1;
  }
  .footer__navWrap .footer__navMain ul {
    margin-right: 14%;
    flex: 0 0 auto;
  }
  .footer__navWrap .footer__navMain ul li{
    margin-bottom: 8px;
  }
  .footer__navSub li {
    font-size: 15px;
  }
  .footer__navSub li::before {
    content: "・";
  }
  .footer__wrap .sns {
    text-align: right;
  }
  .footer__wrap .sns a{
    width: 27px;
    display: inline-block;
  }
  .footer__wrap .sns a + a {
    margin-left: 15px;
  }
  .copyright {
    background-color: #fff;
    font-size: 14px;
    padding: 20px;
    text-align: right;
  }
  .copyright .w1300 {
    text-align: right;
  }

  /* pagetop
  ---------------------------------------------------------------------- */
  #page-top {
    width: 65px;
    position: fixed;
    bottom: 10px;
    right: 35px;
    z-index: 10;
    transition: all 0.3s ease;
    cursor: pointer;
    display: none;
  }

  #page-top:hover {
    opacity: 0.8;
  }

  #page-top.stop {
    position: absolute;
    top: -20px;
    bottom: initial;
  }

  /* common
  ---------------------------------------------------------------------- */
  .mainw,
  .mainw_pc {
    width: 1100px;
    margin: 0 auto;
  }

  .w1920 {
    max-width: 1920px;
    margin: 0 auto;
  }

  .w1300 {
    max-width: 1360px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 30px;
  }

  .w1280 {
    max-width: 1340px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 30px;
  }

  .w1260 {
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 30px;
  }

  .w1200 {
    max-width: 1260px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 30px;
  }

  .w1150 {
    max-width: 1190px;
    padding: 0 20px;
    margin: 0 auto;
  }

  .w1100 {
    width: 1100px;
    margin: 0 auto;
  }

  .w1000 {
    width: 1000px;
    margin: 0 auto;
  }

  .w950 {
    width: 950px;
    margin: 0 auto;
  }

  .w900 {
    width: 900px;
    margin: 0 auto;
  }

  .w920 {
    width: 920px;
    margin: 0 auto;
  }

  .w800 {
    width: 800px;
    margin: 0 auto;
  }

  .w700 {
    width: 700px;
    margin: 0 auto;
  }

  .anchor {
    margin-top: -100px;
    padding-top: 100px;
  }

  .cflex {
    display: flex;
  }

  .img100 {
    width: 100%;
  }

  .img100 img {
    width: 100%;
  }

  .YuMincho {
    font-family: YuMincho, "Yu Mincho", 游明朝体, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", 'Noto Serif JP', "ＭＳ 明朝", "MS Mincho";
  }

  /* title
---------------------------------------------------------------------- */
  .ctitle {
    color: #A6585D;
    font-size: 4.5rem;
    line-height: 1.4;
    letter-spacing: 0.1em;
    font-weight: 400;
    font-family: YuMincho, "Yu Mincho", 游明朝体, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", 'Noto Serif JP', "ＭＳ 明朝", "MS Mincho";
  }
  .ctitle span {
    display: block;
    font-weight: 300;
    color: #A6585D;
    font-size: 2.4rem;
    letter-spacing: 0.52em;
    font-family: 'Noto Sans JP', "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, sans-serif;
  }
  .ctitle.--row {
    display: flex;
    align-items: baseline;
  }
  .ctitle.--row span {
    display: inline-block;
    margin-left: 20px;
  }
  .ctitle2 {
    font-size: 2.4rem;
    line-height: 1.66667;
    font-weight: 500;
    letter-spacing: 0.15em;
    font-family: YuMincho, "Yu Mincho", 游明朝体, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", 'Noto Serif JP', "ＭＳ 明朝", "MS Mincho";
  }

  /* btn
---------------------------------------------------------------------- */
  .cbtn {
    display: inline-block;
    padding: 15px 60px 15px 30px;
    background-color: #A6585D;
    border: 1px solid #A6585D;
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 0.2em;
    position: relative;
    cursor: pointer;
    font-family: YuMincho, "Yu Mincho", 游明朝体, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", 'Noto Serif JP', "ＭＳ 明朝", "MS Mincho";
  }

  .cbtn::after {
    content: "";
    display: block;
    width: 20px;
    height: 5px;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    background: url(../images/arrow01.svg) no-repeat;
    transition: all 0.3s;
  }

  .cbtn:hover:after {
    right: 6%;
  }

  .cbtn.--sizeL {
    min-width: 370px;
  }

  .cbtn.--sizeM {
    min-width: 300px;
  }

  .cbtn.--center {
    padding: 15px 100px 15px 70px;
  }


  /* End @media (min-width: 1001px) and  (max-width:1055px) */
  /* ---------------------------------------------------------------------- */
  @-moz-keyframes imgfade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes imgfade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-o-keyframes imgfade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-ms-keyframes imgfade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes showup {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @-webkit-keyframes showup {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @-o-keyframes showup {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @-ms-keyframes showup {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @-moz-keyframes showdown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @-webkit-keyframes showdown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @-o-keyframes showdown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @-ms-keyframes showdown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @-moz-keyframes showleft {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @-webkit-keyframes showleft {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @-o-keyframes showleft {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @-ms-keyframes showleft {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @-moz-keyframes showright {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @-webkit-keyframes showright {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @-o-keyframes showright {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @-ms-keyframes showright {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}


/* ---------------------------------------------------------------------- */
@media (max-width: 1000px) {

  #contents {
    overflow: hidden;
  }
  @media (max-width: 750px) {
    body {
      font-size: 2.13333vw;
      font-size: max(13px,2.13333vw);
      ;
    }
  }

  .mb20 {
    margin-bottom: 2.6vw !important;
  }

  .mb25 {
    margin-bottom: 3.3vw !important;
  }

  .mb30 {
    margin-bottom: 4vw !important;
  }

  .mb40 {
    margin-bottom: 5.3vw !important;
  }

  .mb50 {
    margin-bottom: 6.6vw !important;
  }

  .mb60 {
    margin-bottom: 8vw !important;
  }

  .mb70 {
    margin-bottom: 9.3vw !important;
  }

  .mb80 {
    margin-bottom: 10.6vw !important;
  }

  .mb90 {
    margin-bottom: 12vw;
  }

  .mb100 {
    margin-bottom: 13.3vw !important;
  }

  .mb120 {
    margin-bottom: 16vw !important;
  }

  .pt50 {
    padding-top: 6.6vw !important;
  }

  .ls-1 {
    letter-spacing: -1px;
  }

  .ls-2 {
    letter-spacing: -2px;
  }

  .ls-3 {
    letter-spacing: -3px;
  }

  .ls-4 {
    letter-spacing: -4px;
  }

  .fs10 {
    font-size: 3vw;
  }

  .fs14,
  .fs15 {
    font-size: 3.4vw;
  }

  .fs16 {
    font-size: 3.7vw;
  }

  .fs24 {
    font-size: 4vw;
  }

  .fs26 {
    font-size: 5vw;
  }

  .wrap,
  #page {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .for_pc {
    display: none !important;
  }

  .for_tab {
    display: none;
  }

  .for_pcnotab {
    display: none !important;
  }

  .for_nw {
    display: none !important;
  }

  .cf_s:before,
  .cf_s:after {
    content: "";
    display: table;
  }

  .cf_s:after {
    clear: both;
  }

  .cf_s {
    zoom: 1;
  }

  .showup {
    opacity: 0;
    transition: 1s;
    transform: translateY(4vw);
    -webkit-transform: translateY(4vw);
    -moz-transform: translateY(4vw);
    -ms-transform: translateY(4vw);
    -o-transform: translateY(4vw);
  }

  .upview {
    -moz-animation: showup 1s linear 0s 1 normal forwards;
    -webkit-animation: showup 1s linear 0s 1 normal forwards;
    -o-animation: showup 1s linear 0s 1 normal forwards;
    -ms-animation: showup 1s linear 0s 1 normal forwards;
  }

  .showdown {
    opacity: 0;
    transition: 1s;
    transform: translateY(-4vw);
    -webkit-transform: translateY(-4vw);
    -moz-transform: translateY(-4vw);
    -ms-transform: translateY(-4vw);
    -o-transform: translateY(-4vw);
  }

  .downview {
    -moz-animation: showup 1s linear 0s 1 normal forwards;
    -webkit-animation: showup 1s linear 0s 1 normal forwards;
    -o-animation: showup 1s linear 0s 1 normal forwards;
    -ms-animation: showup 1s linear 0s 1 normal forwards;
  }

  .showleft {
    opacity: 0;
    transition: 1s;
    transform: translateX(-4vw);
    -webkit-transform: translateX(-4vw);
    -moz-transform: translateX(-4vw);
    -ms-transform: translateX(-4vw);
    -o-transform: translateX(-4vw);
  }

  .leftview {
    -moz-animation: showleft 1s linear 0s 1 normal forwards;
    -webkit-animation: showleft 1s linear 0s 1 normal forwards;
    -o-animation: showleft 1s linear 0s 1 normal forwards;
    -ms-animation: showleft 1s linear 0s 1 normal forwards;
  }

  .showright {
    opacity: 0;
    transition: 1s;
    transform: translateX(4vw);
    -webkit-transform: translateX(4vw);
    -moz-transform: translateX(4vw);
    -ms-transform: translateX(4vw);
    -o-transform: translateX(4vw);
  }

  .rightview {
    -moz-animation: showright 1s linear 0s 1 normal forwards;
    -webkit-animation: showright 1s linear 0s 1 normal forwards;
    -o-animation: showright 1s linear 0s 1 normal forwards;
    -ms-animation: showright 1s linear 0s 1 normal forwards;
  }

  /* header 
  ---------------------------------------------------------------------- */
  .header_sns {
    width: calc(562 / 750 * 100vw);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .open .header_sns {
    z-index: 0;
  }

  .header_sns>a {
    display: block;
    width: calc(100% / 3);
    color: #fff;
    font-size: calc(31em / 26);
    line-height: 1.2;
    border-right: 1px solid #fff;
    background-color: #938168;
    height: calc(130 / 750 * 100vw);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .header_sns>a.reserve {
    background-color: #B5998E;
  }

  .header_sns>a img {
    display: block;
    width: auto;
    height: calc(50 / 750 * 100vw);
    margin-bottom: calc(15 / 750 * 100vw);
  }

  header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  header,
  header * {
    transition: all 0.3s ease;
    font-family: YuMincho, "Yu Mincho", 游明朝体, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", 'Noto Serif JP', "ＭＳ 明朝", "MS Mincho";
  }

  header .logo {
    width: 30vw;
    padding: 2vw 5vw;
    max-width: 213px;
    text-align: center;
    display: flex;
    align-items: center;
  }

  header .logo img {
    display: block;
    width: 100%;
  }

  #spnav ul {
    display: flex;
    width: 50%;
  }

  #spnav ul li:nth-child(1) {
    background: #A6585D;
  }

  #spnav ul li:nth-child(2) {
    background: #721D34;
  }

  #spnav ul li:nth-child(3) {
    background: #6D4D3B;
  }

  #spnav ul li a {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #Fff;
    line-height: 1;
    font-size: max(10px, 3.5vw);
    padding: 2vw;
  }

  #spnav ul li a>*:first-child {
    flex: 1;
    width: 6vw;
  }

  #spnav ul li a img {
    width: 100%;
  }

  header .open {
    position: relative;
    display: block;
    z-index: 5000;
  }

  header .open span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 7vw;
    height: 1px;
    background-color: #fff;
    transition: ease all .5s;
  }

  header .open span:nth-child(1) {
    top: 4vw;
  }

  header .open span:nth-child(2) {
    top: 6vw;
  }

  header .open span:nth-child(3) {
    top: 8vw;
  }

  header .open.active {
    background-color: transparent;
  }

  header .open.active span:nth-child(1) {
    top: calc(40 / 750 * 100vw);
    transform: translateX(-50%) rotate(45deg);
  }

  header .open.active span:nth-child(2) {
    display: none;
  }

  header .open.active span:nth-child(3) {
    top: calc(40 / 750 * 100vw);
    transform: translateX(-50%) rotate(-45deg);
  }

  header .fnav {
    display: none;
    width: 100%;
    position: fixed;
    top: 16vw;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-color: #fff;
    padding: calc(130 / 750 * 100vw) calc(65 / 750 * 100vw) calc(80 / 750 * 100vw) calc(65 / 750 * 100vw);
  }

  .open header .fnav {
    z-index: 2000;
    overflow: scroll;
  }

  #mainheader {
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 20000;
    background: #ffffff;
    height: 16vw;
  }

  #mainheader .mainheader__inr {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  #mainheader .fnav .copy {
    display: none;
  }

  #mainheader .fnav__wrap>ul {
    border-top: 1px solid #3e3a3a;
    margin-bottom: calc(60 / 750 * 100vw);
  }

  #mainheader .fnav__wrap>ul>li {
    border-bottom: 1px solid #3e3a3a;
  }

  #mainheader .fnav__wrap>ul>li a {
    display: block;
    font-size: calc(36em / 26);
    padding: calc(22 / 750 * 100vw) calc(15 / 750 * 100vw);
    position: relative;
  }

  #mainheader .fnav .fnav__childMenu {
    display: none;
    width: 80%;
    margin-left: auto;
    transition: none;
    padding-bottom: 3vw;
  }

  #mainheader .fnav .reserve {
    width: 100%;
    margin-bottom: calc(40 / 750 * 100vw);
  }

  #mainheader .fnav .reserve a {
    display: block;
    width: 100%;
    color: #fff;
    text-align: center;
    background-color: #B5998E;
    font-size: calc(44em / 26);
    padding: calc(30 / 750 * 100vw) 0;
  }

  #mainheader .fnav .reserve img {
    width: calc(52 / 750 * 100vw);
    margin-right: calc(20 / 750 * 100vw);
  }

  #mainheader .sns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #mainheader .sns a {
    display: block;
    width: calc(76 / 750 * 100vw);
    margin: 0 calc(25 / 750 * 100vw);
  }

  #mainheader #spnav {
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }

  #mainheader #spnav ul {
    display: flex;
    width: 80%;
  }

  #mainheader #spnav ul li {
    text-align: center;
    position: relative;
    width: 50%;
  }

  #mainvisual {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }

  #mainvisual .mvslide {
    width: 100%;
    height: 100%;
  }

  #mainvisual .slick-slider .slick-track,
  #mainvisual .slick-slider .slick-list {
    height: 100%;
  }

  #mainvisual .mvslide .slick-slide {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
  }

  #mainvisual .mvslide .slick-track {
    height: 100%;
  }

  #mainvisual .mvslide .slick-slide>div {
    height: 100%;
  }

  #mainvisual .mvslide .slick-slide>div>li {
    height: 100%;
  }

  #mainvisual picture {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  #mainvisual picture img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #mainvisual .catch {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  #mainvisual.sub .catch {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    transform: none;
  }

  #mainvisual.sub .catch img {
    max-width: 100%;
  }

  #mainvisual .mvslide .slick-dots li {
    display: block !important;
    width: calc(22 / 750 * 100vw);
    height: calc(22 / 750 * 100vw);
    background: rgba(255,255,255,.5);
    margin: 0 calc(25 / 750 * 100vw);
    border-radius: 50%;
  }
  #mainvisual .mvslide .slick-dots li.slick-active {
      background: rgba(255,255,255,1);
  }
  #mainvisual .slick-dots li button:before{
    content: ''!important;
    height:100%!important;
    width: 100%!important;
  }
  #mainvisual .slick-dots {
      display: flex;
      justify-content: center;
      bottom: calc(70 / 750 * 100vw)!important;
  }

  .mv__btn {
    position: absolute;
    bottom: 18vw;
    right: 4vw;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .mv__btn li {
    max-width: 188px;
    /* width: 40vw; */
    width: 32vw;
  }

  /* footer
  ---------------------------------------------------------------------- */
  footer {
    background-color: #6D4D3B;
  }

  .footer__wrap * {
    color: #fff;
  }
  .footer__img {
    width: 100%;
  }
  .footer__img img {
    width: 100%;
    height: auto;
  }
  .footer__content {
    position: relative;
  }
  .footer__contentInr {
    width: 82vw;
    margin: 0 auto;
    padding: 50px 0;
  }
  .footer__logo {
    width: 155px;
    margin-bottom: 35px;
  }
  .footer__address {
    line-height: 1.8;
    text-align: left;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #BEBEBE;
  }
  .footer__navWrap {
    margin-bottom: 40px;
    display: flex;
    font-size: 14px;
  }
  .footer__navWrap > ul{
    margin-right: 10%;
    flex: 0 0 auto;
  }
  .footer__navWrap > ul > li{
    margin-bottom: 8px;
  }
  .footer__navMain {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
  }
  .footer__navWrap .footer__navMain ul {
    margin-right: 14%;
    flex: 0 0 auto;
  }
  .footer__navWrap .footer__navMain ul li{
    margin-bottom: 8px;
  }
  .footer__navSub li {
    font-size: 15px;
  }
  .footer__navSub li::before {
    content: "・";
  }
  .footer__wrap .sns {
    text-align: right;
  }
  .footer__wrap .sns a{
    width: 27px;
    display: inline-block;
  }
  .footer__wrap .sns a + a {
    margin-left: 15px;
  }
  .copyright {
    background-color: #fff;
    font-size: 10px;
    padding: 20px;
    text-align: center;
  }
  .copyright .w1300 {
    text-align: right;
  }

  /* pagetop
  ---------------------------------------------------------------------- */
  #page-top {
    width: 15%;
    position: fixed;
    right: calc(40/ 750 * 100vw);
    bottom: calc(40 / 750 * 100vw);
    z-index: 100;
    display: none;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  #page-top.scroll {
    display: block;
  }

  #page-top.stop {
    position: absolute;
    top: -20px;
    bottom: initial;
  }

  .open #page-top {
    z-index: 0;
  }


  /* title
---------------------------------------------------------------------- */
  .ctitle {
    color: #A6585D;
    font-size:clamp(13px,9vw,45px);
    line-height: 1.4;
    letter-spacing: 0.1em;
    font-weight: 400;
    font-family: YuMincho, "Yu Mincho", 游明朝体, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", 'Noto Serif JP', "ＭＳ 明朝", "MS Mincho";
  }
  .ctitle span {
    display: block;
    font-weight: 300;
    color: #A6585D;
    font-size:clamp(16px,4.2vw,24px);
    letter-spacing: 0.52em;
    font-family: 'Noto Sans JP', "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, sans-serif;
  }
  .ctitle2 {
    font-size:clamp(16px,3.4vw,24px);
    line-height: 1.66667;
    letter-spacing: 0.15em;
    font-weight: 500;
    font-family: YuMincho, "Yu Mincho", 游明朝体, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", 'Noto Serif JP', "ＭＳ 明朝", "MS Mincho";
  }

  /* btn
---------------------------------------------------------------------- */
  .cbtn {
    display: inline-block;
    padding:calc( 15 / 750 * 100vw) calc( 80 / 750 * 100vw) calc( 15 / 750 * 100vw) calc( 40 / 750 * 100vw);
    background-color: #A6585D;
    border: 1px solid #A6585D;
    color: #fff;
    font-size: max(13px,2vw);
    letter-spacing: 0.2em;
    position: relative;
    cursor: pointer;
    font-family: YuMincho, "Yu Mincho", 游明朝体, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", 'Noto Serif JP', "ＭＳ 明朝", "MS Mincho";
  }

  .cbtn::after {
    content: "";
    display: block;
    width: 20px;
    height: 5px;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    background: url(../images/arrow01.svg) no-repeat;
    transition: all 0.3s;
  }

  .cbtn:hover:after {
    right: 3%;
  }

  .cbtn.--flex > span {
    display: flex;
    flex-wrap: wrap;
  }
  .cbtn.--sizeM {
    min-width: 300px;
  }

  .cbtn.--center {
    padding:calc( 15 / 750 * 100vw) calc( 100 / 750 * 100vw) calc( 15 / 750 * 100vw) calc( 70 / 750 * 100vw);
  }

  /* common
  ---------------------------------------------------------------------- */
  .mainw,
  .w1300,
  .w1280,
  .w1100,
  .w1000,
  .w900,
  .w920,
  .w800,
  .w700 {
    width: 90vw;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .w950 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .w620 {
    width: calc(620 / 750 * 100vw);
    margin-right: auto;
    margin-left: auto;
  }

  .w560 {
    width: calc(560 / 750 * 100vw);
    margin-right: auto;
    margin-left: auto;
  }

  .anchor {
    margin-top: -20vw;
    padding-top: 20vw;
  }

}



/* keyframe
  ---------------------------------------------------------------------- */
@-moz-keyframes showup {
  0% {
    opacity: 0;
    transform: translateY(4vw);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes showup {
  0% {
    opacity: 0;
    transform: translateY(4vw);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-o-keyframes showup {
  0% {
    opacity: 0;
    transform: translateY(4vw);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-ms-keyframes showup {
  0% {
    opacity: 0;
    transform: translateY(4vw);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-moz-keyframes txtfade {
  0% {
    opacity: 0;
    transform: translateY(4vw);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes txtfade {
  0% {
    opacity: 0;
    transform: translateY(4vw);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-o-keyframes txtfade {
  0% {
    opacity: 0;
    transform: translateY(4vw);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-ms-keyframes txtfade {
  0% {
    opacity: 0;
    transform: translateY(4vw);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-moz-keyframes showleft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes showleft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-o-keyframes showleft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-ms-keyframes showleft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-moz-keyframes showright {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes showright {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-o-keyframes showright {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-ms-keyframes showright {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* End @media (max-width:1000px) */
/* ----------------------------------------------------------------------*/


/* 2024/06/19追記 インバウンドメニュー */
/* ----------------------------------------------------------------------*/

@media screen and (min-width: 1001px) {
  #mainheader .fnav .fnav__childMenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 150%;
    min-width: 180px;
    padding: 10px 15px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #mainheader .fnav__wrap > ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-size: 1.8rem;
    width: 100%;
  }
  #mainheader .fnav__wrap > ul > li {
    margin: 0;
  }
  #mainheader .fnav__wrap > ul > li > a {
    padding-bottom: 20px;
    position: relative;
    font-weight: 600;
  }
  #mainheader .fnav__wrap > ul > li > span {
    display: inline-block;
    padding-bottom: 20px;
    position: relative;
    font-weight: 600;
    line-height: 1.3;
  }
  #mainheader .fnav__wrap > ul > li > a.current:after {
    content: "";
    display: block;
    background-color: #0F0F0F;
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  #mainheader .fnav .fnav__language + .fnav__childMenu a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    padding: 10px 0;
  }
  #mainheader .fnav .fnav__childMenu a:before,
  #mainheader .fnav .fnav__childMenu a:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
  }
  #mainheader .fnav .fnav__childMenu a:before {
    -webkit-box-ordinal-group: -1;
    -webkit-order: -2;
        -ms-flex-order: -2;
            order: -2;
  }
  #mainheader .fnav .fnav__childMenu a:after {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
  #mainheader .fnav .fnav__childMenu #lang_en:before {
    background: url(../images/icon_usa.svg) no-repeat center/contain;
  }
  #mainheader .fnav .fnav__childMenu #lang_en:after {
    background: url(../images/icon_gbr.svg) no-repeat center/contain;
  }
  #mainheader .fnav .fnav__childMenu #lang_zh-CN:after {
    background: url(../images/icon_zh-cn.svg) no-repeat center/contain;
  }
  #mainheader .fnav .fnav__childMenu #lang_zh-tw:after {
    background: url(../images/icon_zh-tw.svg) no-repeat center/contain;
  }
  #mainheader .fnav .fnav__childMenu #lang_ko:after {
    background: url(../images/icon_ko.svg) no-repeat center/contain;
  }
  #mainheader .fnav .fnav__childMenu #lang_jp:after {
    background: url(../images/icon_jp.svg) no-repeat center/contain;
  }
}

@media screen and (max-width: 1200px) and (min-width: 1001px) {
  #mainheader .fnav__wrap > ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-size: 1.5rem;
    width: 100%;
  }
}

@media screen and (max-width:1000px) {
    #mainheader .fnav__wrap > ul > li > span {
    display: block;
    font-size: 1.3846153846em;
    padding: 2.9333333333vw 2vw;
  }
  #mainheader .fnav .fnav__language + .fnav__childMenu a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    padding: 10px 0;
  }
  #mainheader .fnav .fnav__childMenu a:before,
  #mainheader .fnav .fnav__childMenu a:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
  }
  #mainheader .fnav .fnav__childMenu a:before {
    -webkit-box-ordinal-group: -1;
    -webkit-order: -2;
        -ms-flex-order: -2;
            order: -2;
  }
  #mainheader .fnav .fnav__childMenu a:after {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
  #mainheader .fnav .fnav__childMenu #lang_en:before {
    background: url(../images/icon_usa.svg) no-repeat center/contain;
  }
  #mainheader .fnav .fnav__childMenu #lang_en:after {
    background: url(../images/icon_gbr.svg) no-repeat center/contain;
  }
  #mainheader .fnav .fnav__childMenu #lang_zh-CN:after {
    background: url(../images/icon_zh-cn.svg) no-repeat center/contain;
  }
  #mainheader .fnav .fnav__childMenu #lang_zh-tw:after {
    background: url(../images/icon_zh-tw.svg) no-repeat center/contain;
  }
  #mainheader .fnav .fnav__childMenu #lang_ko:after {
    background: url(../images/icon_ko.svg) no-repeat center/contain;
  }
  #mainheader .fnav .fnav__childMenu #lang_jp:after {
    background: url(../images/icon_jp.svg) no-repeat center/contain;
  }
}