@charset "utf-8";
/* CSS Document */



/*==============================
共通
==============================*/
.header_images{
  position: relative;
  height: 380px;
  background-image: url("../img/test_images/headBack.png");
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding: 0 20px;
}

.header_images > h1{
  position: absolute;
  z-index: 1;
  right: 0;
  left: 0;
  bottom: -50px;
  margin: auto;
  width: calc(100% - 40px);
  max-width: 498px;
}

.header_images > h1 img{
  width: 100%;
  vertical-align: bottom;
}

.headTitle{
  position: absolute;
  z-index: 1;
  right: 0;
  left: 0;
  bottom: -50px;
  margin: auto;
  width: calc(100% - 60px);
  max-width: 500px;
  padding: 30px 0;
}

.headTitle::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skew(-15deg);
  -o-transform: skew(-15deg);
  -moz-transform: skew(-15deg);
  -webkit-transform: skew(-15deg);
  background-color: #152e4e;
  z-index: 0;
}

.headTitle > *{
  position: relative;
  z-index: 2;
}

.headTitle > h1{
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #fff;
  margin-bottom: 10px;
}

.headTitle > p{
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1px;
  color: #cbd4da;
}

@media screen and (max-width: 600px){
    .header_images{
    height: 220px;
  }
}

/*==============================
メイン
==============================*/

#messageWrap{
  padding: 100px 20px;
}

.messageBox{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.messageBox > div{
  text-align: right;
  margin-right: 20px;
}

.messageBox > div h4{
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  text-align: left;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #152e4e;
  margin-bottom: 20px;
}

.messageBox > div p{
  text-align: left;
  text-align: justify;
  margin-bottom: 20px;
}

#companyWrap{
  padding: 0 20px 50px;
}

.companyTable{
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  
}

.companyTable > table{
  width: 48%;
  border-collapse: collapse;
  border-spacing: 0;
}

.companyTable > table th{
  width: 25%;
}

.companyTable > table td{
  width: 75%;
}

.companyTable > table th,
.companyTable > table td{
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
  vertical-align: middle;
  font-size: 15px;
  line-height: 20px;
}

.companyTable > table th span{
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #152e4e;
  color: #fff;
  vertical-align: middle;
  padding: 10px 0;
}

.companyTable > table td{
  padding-left: 10px;
  padding: 10px;
  font-weight: normal;
}

/*==============================
レスポンシブ
==============================*/

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1300px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 800px) {
  .messageBox > img{
    width: 20%;
    align-self: flex-start;
  }
  
  .messageBox > div h4{
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 26px;
  }
  
  .messageBox > div > img{
    max-width: 80%;
  }
  
  .companyTable{
    display: block;
    max-width: 600px;
  }
  
  .companyTable > table{
    width: 100%;
  }
  
  .companyTable > table:first-of-type tr:last-of-type th,
  .companyTable > table:first-of-type tr:last-of-type td{
    border-bottom: none;
  }
}

@media screen and (max-width: 600px){
  .messageBox > div h4{
    font-size: 18px;
    letter-spacing: 1px;
  }
  .messageBox > img{
    display: none;
    align-self: flex-end;
  }
  
  .messageBox > div{
    margin-right: 10px;
  }
}

@media screen and (max-width: 414px){
}